// *************************************
//
//   Page Layouts
//   -> Pages should exclusivly use one of the templates assigned here
//   - 1. Title Bar & Body
//
// -------------------------------------

// -------------------------------------
//   Template (Title Bar & Body)
// -------------------------------------

.layout-base{
    .layout-base--header{
        background-color: var(--background-color-lvl2);
        border-bottom:1px solid var(--background-color-lvl3);
        .layout-base--action{
            padding-top: var(--spacing-12);
            padding-bottom: var(--spacing-12);
            @media (min-width: $screen-md) {
                padding-left: var(--spacing-12);
            }
            .btn{
                margin: 0 var(--spacing-2);
            }
        }
    }
    .layout-base--body{
        background-color: var(--background-color);
    }
    .layout-base--content{
        @extend .rs-container;
        padding: var(--spacing-12);
        .card{
            padding: var(--spacing-12);
        }
    }
}

