
html,body{
    background-color: var(--background-color);
}
//.view {
//    height: 100vh;
//    width: 100vw;
//
//    overflow: hidden;
//
//    display: grid;
//    grid-template-areas:
//        "header"
//        "main"
//        "utility";
//
//    grid-template-rows: min-content 1fr 22px;
//    grid-template-columns: 1fr;
//}

body.view{
    position: relative;
}
#section-main{
    padding-top: 45px;
    height: calc(100vh - 24px);
    #section-navbar{

    }
    #section-navbar{

    }
}
#section-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#section-utility{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
}


.view > section {
    overflow: hidden;
}

#section-header {
    //position: relative;
    z-index: 3;
    overflow: visible;
}

#section-navbar {
    overflow: hidden;
    background-color: var(--sidebar-background-color);
}

#section-content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#section-main {
    display: grid;
    z-index: 1;
    grid-template-areas: "content";
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    overflow: hidden;
    position: relative;

    &.with-project {
        grid-template-areas: "nav content";
        grid-auto-columns: 65px 1fr;
    }
}

#section-utility {
    position: relative;
    z-index: 2;
    box-shadow: var(--utility-bar-box-shadow) !important;
}

#loginpage {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

th.table-header, td.table-header, .text-table-header {
    color: var(--card-default-color) !important;
}

.list-group-item {
  background-color: var(--list-item-background-color);
  border: 1px solid var(--list-item-border-color);
}

.table thead tr.success th, .table thead tr.success td, .table tbody tr.success th, .table tbody tr.success td, .table tfoot tr.success th, .table tfoot tr.success td {
    background-color: var(--success-bg-color) !important;
}