@mixin light-form() {
  border-radius: 0;
  border: 0;
  padding: 0;
  background-color: transparent;

}


@mixin input-placeholder($color, $opacity) {
  color: var($color);
  @include opacity(1);
}

@mixin input-size-min($padding-vertical, $padding-horizontal, $height) {
  padding: $padding-vertical $padding-horizontal;
  height: $height;
}