// Panels

@mixin panel-variant(
  $border,
  $heading-text-color,
  $heading-bg-color,
  $heading-border
) {
  border-color: $border;

  & > .card-header {
    color: var($heading-text-color);
    background-color: var($heading-bg-color);
    border-color: $heading-border;

    + .panel-collapse > .card-body {
      border-top-color: $border;
    }
    .badge {
      color: $heading-bg-color;
      background-color: $heading-text-color;
    }
  }
  & > .card-footer {
    + .panel-collapse > .card-body {
      border-bottom-color: $border;
    }
  }
}
