#four-oh-four-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.four-oh-four {
  // background-image: url("spacecat/space.png");
  // background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 80%),
    url("#{$images-asset}/spacecat/space.png");
  background-repeat: no-repeat;
  background-size: cover;

  .nav-bar {
    background: black;
    text-align: center;
    padding: 2em 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .laser-cat-container {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .space-cat-container {}

  .four-oh-four-messaging {
    text-align: right;

    h1 {
      font-size: 15em;
      color: #fff;
      font-weight: bold;
    }

    h2 {
      margin-top: -2.5rem;
      font-size: 8rem;
      color: #b86bff;
      text-transform: uppercase;
      font-weight: bold;
    }

    h3 {
      font-size: 4rem;
      color: #fff;
    }

    h5 {
      color: white;
    }
  }

  footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #bebebe !important;

    .copyright {
      color: #bebebe !important;
    }

    a {
      color: #bebebe !important;
      text-decoration: underline;
    }
  }

  .return-button {
    border-color: #fff;
    color: #fff;
    border-radius: 4px;
    padding-bottom: calc(0.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(0.375em - 1px);
    font-size: 3rem;
  }
}
