.view {
    height: 100vh;
    width: 100vw;

    overflow: hidden;

    display: grid;
    grid-template-areas:
        "header"
        "main";

    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;

    @media (max-width: 768px) {
        grid-template-areas:
            "header"
            "content"
            "nav";
        grid-template-rows: 40px 1fr 65px;
        grid-template-columns: 1fr;
    }
}

.view > section {
    overflow: hidden;
}

#section-header {
    overflow: visible;
    z-index: 1000;
}

#section-navbar {
    overflow: hidden;
}

#section-content {
    display: flex;
    flex-direction: column;
    overflow: hidden
}

#section-main {
    display: grid;
    grid-template-areas: "nav content";
    grid-template-rows: 1fr;
    grid-auto-columns: 65px 1fr;
    overflow: hidden;
    position: relative;
}