by:
  urn: project:core-sshj-executor-test
for:
  storage:
    - match:
        path: 'keys/project/core-sshj-executor-test/.*'
      allow: [read]
description: Allow access to key storage