.*
*.orig
!.github
!.gitignore
*~
*.swp
*.iws
*.ipr
*.iml
/db/
/lib/
/bin/
**/build
**/*/build
**/out
**/*/out
makeenv
/artifacts
/ci-resources
/cobertura.ser
/gradle-cache
/rundeckapp/stacktrace.log
/rundeckapp/grails-app/i18n/messages.properties.orig
/rundeckapp/lib/rundeck-core-*.jar
/rundeckapp/classes/*
/core/target
/core/out
**/target
**/*/target
rundeckapp/env.bash
/rundeckapp/db/
/rundeckapp/work
/rundeckapp/web-app/plugins
/rundeckapp/target
/rundeckapp/target-eclipse
/rundeckapp/var/logs/*
/rundeckapp/var/tmp/*
/packaging/dist
/packaging/rpmdist
/packaging/debdist
/docs/*/manpages/man*/*.gz
/docs/*/manpages/man*/*.1
/docs/*/manpages/man*/*.5
/docs/dist
/docs/*/dist
/tmp/**
/test/api/*.output
/test/**/*.jar
/test/**/*.war
/core/src/main/resources/META-INF/com/dtolabs/rundeck/core/application.properties
/local/
/grails/
/out/
/scratch/
rundeckapp/out
rundeckapp/rundeck-runtime
/rundeckapp/grails-app/assets/node_modules
/rundeckapp/grails-app/assets/**/node_modules
rundeckapp/grails-spa/package-lock.json
