language: java
env: MAVEN_OPTS="-Xmx1024m -XX:MaxPermSize=192m" GRADLE_OPTS="-Xmx1024m -XX:MaxPermSize=192m" TERM="dumb"
jdk:
  - oraclejdk8
#sudo: false
# can uncomment above after resolution of https://github.com/travis-ci/travis-ci/issues/3120
sudo: required
services:
  - docker
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y xmlstarlet jq
  - sudo chsh --shell $(which bash)
script:
    - './gradlew clean build && groovy testbuild.groovy -gradle && make TAG=SNAPSHOT BUILD_NUM=$TRAVIS_BUILD_NUMBER rpm deb && DOCKER_COMPOSE_SPEC=docker-compose-api-mysql.yaml bash run-docker-api-tests.sh && bash run-docker-tests.sh && bash run-docker-ssl-tests.sh && bash run-docker-ansible-tests.sh'
addons:
  hostname: rdbuild
  apt:
    packages:
    - groovy
    - rpm
    - make
    - zip
    - unzip
    - fakeroot
    #- xmlstarlet #once added to whitelist
    #- jq #once added to whitelist
# whitelist
branches:
  only:
    - master

notifications:
  irc:
    - "irc.freenode.org#rundeck"
  #email: false


