## ------------------------------------------------------------------
## Generate the reactor 
## ------------------------------------------------------------------
$generator.parse("build.vm","build.xml")
