html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
	padding-bottom: 18px;
}  /* must be same height as the footer */

#footer {
    position: relative;
	margin-top: -18px; /* negative value of footer height */
	height: 18px;
	clear:both;
    padding: 0 20px;
    text-align:left;
    background: white;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

html, body{
	
	padding: 0 0 0 0;
	margin: 0 0 0 0;
    font: 81.25%/1.5em verdana, arial, helvetica, sans-serif;

}

table{

    font: 100%/1.5em verdana, arial, helvetica, sans-serif;
}
td {
	}
th {
	    font-weight: bold;
        background-color: #eee;
	}
h2, h3, h4, h5, h6 {
	color: #111;
    /*font-family: Georgia, sans-serif;*/
	}
h2 {
	margin-bottom: 20px;
	margin-top: 10px;
    /*font-family: Georgia, sans-serif;*/
	}
h4 {
	font-weight: bold;
    /*font-family: Georgia, sans-serif;*/
        color: #555;
	}
h4+p {
	margin-top: -5px;
	}
p+h4 {
	margin-top: 40px;
	}
a {
	color: black;
	text-decoration: none;
	border: 0px;
}

a:hover {
	color:blue;
}
a.external{
    color:green;
    text-decoration:underline;
}
a.external:hover{
    color:green;
    text-decoration:underline;
}
form{
    margin:0;
}

ul, ol{
    margin: 10px 0;
    padding-left: 20px;
}
code{
    font-size:100%;
}
/* end base elements */

.mainContent {
    margin: 15px;
    
}
.pageContent{
    padding: 10px;
    overflow-y: auto;
}
.tabContent{
    overflow-y:auto;
}

.topbar{
    height:33px;
    margin:0 0 0 0;
    padding: 4px;
    line-height:29px;
    background: white;
}
.topbar.solo{
    border-bottom:2px solid black;
}
.secondbar{
    height:32px;
    margin:0 0 0 0;
    padding: 4px 8px;
    line-height:32px;
    background:#f0f0f0;
    border-bottom:2px solid black;
}
@-moz-document url-prefix() {
    .secondbar {
        /*elf!*/
        /* add 1px height for firefox */
        height:33px;
    }
}
.topbar a.home{
    padding: 10px;
}
.topbar #top_tabs + a.home{
    margin-left: 20px;
}
a.toptab{
    /*border-left: 1px solid #ccc;*/
    border-right: 1px solid #ccc;
    padding: 8px 10px;
    margin:0;
    height:32px;
    line-height:32px;
    vertical-align:middle;
    color:#000;
}
a.toptab.selected{
    border-style: none;
    border-right: 1px solid #ccc;

    /*text-shadow:#aaa 3px 3px 5px;*/
    font-weight:bold;
    color:#000;
    background: #ddd;
}
a.tab,span.tab{
    padding: 3px;
    border: 1px solid #ccc;
    color:blue !important;
    font-weight:normal;
}
a.toptab + a.toptab{
    border-left:0;
}
a.tab:hover, a.toptab:hover, a.tab.selected, a.toptab.selected{
    background: #ddd;
}
a.tab.disabled, span.tab.disabled{
    border: 1px solid #ddd;
    color: gray !important;
}
div.pageMessage{
    margin: 20px ;
    padding: 10px;
    font-style: normal;
    border: 2px solid #ddd;
    background: #f0f0f0;
    -moz-border-radius : 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
div.pageMessage.error{
    color: #F55;
    border: 2px solid #fdd;
}
.welcomeMessage{
    font-size: 12pt;
    /*font-family:Georgia, sans-serif;*/
}
.spinner {
	padding:5px;
}
.spinner.block{
    display:block;
    position:relative;
}
a:active,a:link,a:visited{
    
}
a:hover {
    
    color:blue;
    text-decoration: none;
}
/* list of messages */
#listPane tr:hover, #listPane td:hover {
	background: gray;
	cursor: pointer;
}
#listPane tr, #listPane td { cursor: pointer; }
tr.header {
	background-color: #274383; color: white; font-weight: bold;
}
.actionButton a:active,.actionButton a:link,.actionButton a:visited,.actionButton a:hover {
	font-weight:bold;
	color: #578BB8;	
}
.action, span.button{
    cursor:pointer;
}
.action:hover, span.action:hover{
    background: #e3edfa;
}
img{
    vertical-align: middle;
    border: 0;
}
a.action, .action.textbtn, td.action.textbtn{
    color:blue;
    font-weight:normal;
}
.action.textbtn.ready{
    text-decoration:underline;
}
.action{
    color:blue;
}
.action.minor{
    color:gray;
}
a.action:hover, span.action.textbtn:hover, td.action.textbtn:hover{
    color: blue;
    text-decoration:underline;
}
a.button, span.button, label.button{
    padding: 3px;
    background: #eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
a.button.icon, span.button.icon{
    border: 1px solid #aaa;
}
a.button:hover, span.button:hover,span.titlegroup.action:hover,a.textaction.button:hover, span.textaction.button:hover{
    background: #ccc;
}
.buttonbar{
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    padding: 5px;
    margin:0;
    clear:both;
}
a.button.disabled, span.button.disabled{
    color:#888;
    border: 1px solid #eee;
}
a.button.disabled:hover, span.button.disabled:hover{
    background:#eee;
    cursor: default;
    color:#888;
    border: 1px solid #eee;
}
div.buttonholder, td.buttonholder, span.buttonholder{
    padding:5px;
}

.objdesc{
    color: #777;
}
h1 {
	color:#616161;
}

.cmdname{

}

.cmddescription{
    font-style: italic;
    color: #777;
    text-shadow: none;
}
.argString,.commandline{
    font-family: Courier, monospace;
}
.optheader{
    margin:5px 0;
}
.optheader .header{
    color: #888;
    text-decoration:underline;
}
.optname{
    font-family: Courier, monospace;
}
.optname.required{
    font-weight:bold;
}
.optionvaluemulti label{
    padding: 2px 4px;
}
.optionvaluemulti label{
    display:block;
}
.optionvaluemulti label:hover{
    background: #e3edfa;
}

.optionvaluemulti span.action {
    display:block;
    margin:4px;
}
.optionvaluemulti div.varinput {
    margin:4px;
}
.optionmultiarea{
    overflow-y: auto;
    max-height: 11em;
    border: 1px solid #ddd;
    padding: 0;
    min-width: 200px;
}
.enforceSet{
    text-align:center;
}
.enforceSet span.regex{
    border-bottom: 1px dotted #888;
    color: #555;
}
.enforceSet span.enforced{
    font-weight:bold;
    color: #555;
}
.enforceSet span.any{
    font-style:italic;
    color: #888;
}
.valuesSet{
    text-align:center;
}
.valuesSet span.valueslist{
    color: #555;
    border-bottom: 1px dotted #888;
}
.valuesSet span.valuesUrl{
    color:blue;
}
.remotestatus{
    padding-left: 12px;
    padding-right:4px;
    background:none;
}

.body {
	padding: 25px;
}
.nav {
	width:100%;
	margin-top: 30px;
	background-color:#eee;
	height: 30px;
	border: 2px solid #A49CF7;
	border-style: solid none none none ;	
}

th {
	padding:5px;	
}
td {

}
label{
    cursor:pointer;
}
#loginpage label{
    text-decoration:none;
}
.dialog 
{
	padding: 15px;
	background-color:#F0F0F0;
	
}
.dialog label{
	width: 120px;
	font-weight: bold;
}

.dialog .textfield{
	width: 180px;
	margin-bottom: 5px;
}

.prop {
	padding: 5px;
}
.buttons {
	margin-top: 15px;
    clear:both;
}
.actionButtons {
	width:100px;
}
div .errors {
    color:red;
    padding: 5px;
	margin-top:10px;
	margin-bottom:10px;
}
td .errors {
  
}
.message {
	padding: 5px;
	margin-top:10px;
	margin-bottom:10px;
}
.message.error {
    color:red;
    padding: 5px;
    font-style: normal;
    color: #F55;
    border: 1px solid #fdd;
    background: #f0f0f0;
    -moz-border-radius : 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.title.error{
    font-weight:bold;
    color:red;
}
.prop .name {
	font-weight:bold;
	text-align:left;
	width:20%;
}
.prop .value {
	text-align:left;
	width:80%;
}
#footer {
    color: #888;
    font-size:9px;
    /*border:1px solid blue;*/
    /*margin: 0 20px;*/
    clear:both;
    line-height:200%;
}
.logininfo {
    padding: 4px;

}
.logininfo span.userName{
    font-weight:bold;
}
.headright{
    position:absolute;
    right:10px;

    padding-top:2px;
}
span.wblink{
    margin-right:30px;
}
span.wblink a{
    color:#66f;
    padding:3px 6px;
}
span.wblink a:hover{
    color:white;
    background:#66f;
    border:1px solid #66f;
    padding:2px 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

}
.depotinfo {
}
td.selected{
    background-color: #bbb;
    color: white;
    border: 1px solid #999;
    font-weight: bold;
}
td.deselected, .deselected{
    color: #777;
}
span.desc{
    color: #aaa;
}
div.container {
	background-color: white;
	border: 2px solid black;
	width: 200px;
	height: 600px;
	padding: 0px;
	margin: 0px;
	overflow: auto;
}
.label , .content {
	width: 300px;
}

.label {
    font-style:italic;
    color: #888;
}
.label.error {
    color: #F88;
}
.action.label.error {
    color: #F88;
}

.content {
	background: #eeeeee;
}

.note {

    font-style: italic;
    color: #999;
}

.smlabel {
    
}

 #P2P_selector {
    border: 1px solid #fff;
    color: #fc0;
  }

div.viewPort {
    padding: 10px;
    overflow: auto;
    overflow-x:hidden;
    overflow-y: auto;
}
div.viewPort.output{
}
div.pageBody {
    padding: 20px;
}
div.pageTop + div.pageBody{
    padding-top:0;
}
div.pageBody.form{
    margin:10px 20px;
    border:1px solid #aaa;

    padding: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 5px 5px 5px #bbb;
}

div.pageBody.frame {
    padding: 0;
}

table.moduledata th, table.moduledata td.sectionname{
    text-align: center ;
    font-weight: normal;
    padding: 4px 1em;
    color: #bbb ;
    border-top: 1px solid #ccc;
    vertical-align: top  ;
}
table.moduledata{
    border:0 ;
}
table.moduledata td{
    padding: 4px;
}
table.moduledata td.fieldName{
    text-align: right;
    vertical-align: top;
    background: #efefef;
    padding: 3px;
    width: 30%;
    font-weight: normal !IMPORTANT;
}
table.moduledata td.fieldName + td{
    border-bottom: 2px solid #eee;
}

div.datasection{
    border: 1px solid #aaa;
    border-width: 0 0 1px 0;
}


    table.data {
        width:100%;
    }

    * html div.tableContainer {	/* IE only hack */
    width:95%;
    border:1px solid #ccc;
    height: 285px;
    overflow-x:hidden;
    overflow-y: auto;
    }

    table td,
    table th{
    text-align:left;
    padding:2px;
    font-weight:normal;
    }
    table thead td, table thead th {
        border: 1px solid #ddd;
        border-bottom:1px solid #bbb;
    }
    
    html>body tbody.scrollContent, html>body tbody.listContent {
    overflow-x: hidden;
    overflow-y: auto;
    }
    .scrollContent {
        overflow-x: hidden;
        overflow-y: auto;
    }

    tbody.scrollContent td, tbody.scrollContent tr td, tbody.listContent td, tbody.listContent tr td  {
        padding: 2px;
        vertical-align:top;
    }

    table.list tr{
        background:#fff;
    }
    tbody tr.normalRow {
        background: #ffffff;
    }
    tbody tr.alternateRow {
        background: #f0f0f0;
    }
    tbody tr.normalRow.super tr {
        background: #ffffff;
    }
    tbody tr.alternateRow.super tr {
        background: #f0f0f0;
    }
    tbody tr.alternateRow2 {
        background: #e0e0e0;
    }

    tbody.scrollContent tr.selected td,tbody.listContent tr.selected td {
        background: yellow;
        padding: 2px;
    }
    tbody.scrollContent tr:hover td, tbody.listContent tr:hover td {
        background: #e3edfa;
        padding: 2px;
    }
    tbody.scrollContent tr.selected:hover td, tbody.listContent tr.selected:hover td {
        background: #ff3;
        padding: 2px;
    }
    tbody.scrollContent tr.alternateRow:hover td, tbody.listContent tr.alternateRow:hover td {
        background: #e3edfa;
        padding: 2px;
    }
/* form field */

.fieldError{
    color:red;
}
.required{
    font-weight:bold;
}
.smlabel.fieldError{
    background:none;
    color:red;
}
table.simpleForm > tr > td:first-child,table.simpleForm > tbody > tr > td:first-child , table.simpleForm td.displabel{
    text-align: right;
    padding: 5px 10px 5px 5px;
    vertical-align: top;
    color: #555;
}

table.simpleForm > tr > td:first-child.action, table.simpleForm > tbody > tr > td:first-child.action, table.simpleForm td.displabel.action {
    color:blue;
}
table.simpleForm > tr > td.fieldError,table.simpleForm > tbody > tr > td.fieldError {
    color: red;
}
table.simpleForm > tr > td+td,table.simpleForm > tbody > tr > td+td {
    padding: 5px;
    vertical-align: top;
}

table.simpleForm tbody.filtergroup td.grouplabel{
    text-align:center;
    font-style:italic;
    border-top:1px solid #aaa;
}

span.filter.error{
    color: red;
}

/* job edit form page */
tbody.subfields{
    background: #eee;
}
div.formRemoteList {
    max-height: 200px;
    overflow-y:auto;
    border: 1px solid #bbb;
}
div.formRemoteList tr.object_entry td.objIdent{
    /*font-size:10pt;*/
}
div.formRemoteList tr.command_entry td.cmdname{
    /*font-size:10pt;*/
}
div.formRemoteList tr.object_entry.unauthorized{
    color: #f00;
}
div.formRemoteList tr.module_entry td{
    border-top: 1px solid #aaa;
}

div.formRemoteList tr.module_entry td.objIdent{
    /*font-size:10pt;*/
}

/* execution output table */
table.execoutput{
    font-family: Courier, monospace;
    border: 1px solid #eee;
}
table.execoutput td{
    padding:0;
    border: 0;
}
table.execoutput tr.contextRow{
    background: #ddF;
}
table.execoutput tr.contextRow.down td{
    border-top:1px solid #bbb;
    border-bottom:0;
}
table.execoutput tr.contextRow.up td{
    border-bottom:1px solid #bbb;
    border-top:0;
}
table.execoutput tr.contextRow td{
    padding:5px;
    vertical-align:middle;
}
table.execoutput tr.contextRow td.icon{
    padding: 1px 3px;
}
table.execoutput tr.contextRow.console{
    background: #fff;
}
table.execoutput tr.contextRow.console td{
    color: #555;
}

table.execoutput tr.contextRow span.contextInfo{
    color: #555;
}
table.execoutput tr.contextRow span.node{
    margin-right:10px;
}
table.execoutput tr.contextRow td.rowexpicon{
    width:16px;
    margin:0;
    padding:0;
    
}

table.execoutput td.info{
    background: #eee;
    padding: 1px 3px;
    vertical-align:top;
    font-family: courier,mono;
}
table.execoutput td.info.time{
    color:#888;
}
table.execoutput tr.alternateRow td.info.time{
    color:#808080;
}
table.execoutput tr.alternateRow td.info{
    background: #e0e0e0;
}
table.execoutput td.data{
    border-left: 1px solid white;
    /*white-space: pre;*/
    font-family: "Lucida Console",courier,monospace;
    padding: 1px 3px;
    vertical-align:top;
}
table.execoutput td.datahtml{
    white-space:normal;
}
table.execoutput td.datahtml p{
    margin:0;
}
table.execoutput td.datahtml p+p{
    margin:1em 0 0 0;
}
table.execoutput tr.alternateRow td.data{
    background: #f0f0f0;
}
table.execoutput td.info .SEVERE{
    color: red;
}
table.execoutput td.info .ERROR{
    color: red;
}
table.execoutput .ctxcounter{
    margin-left:10px;
    font-family:monospace;
}
table.execoutput .ctxcounter.SEVERE, table.execoutput .ctxcounter.ERROR{
    color: red;
}

.outputdisplayopts{
    padding: 5px 10px;
    margin: 0 20px;
    background: #eee;
    border-width: 1px 1px 0 1px;
    border-style:solid;
    border-color: #ddd;
    color: #999;
}
.optDefault{
    font-family: courier,monospace;
    color: #999;
}
div.optslist{
}
span.optgroup{
    white-space:nowrap;
}
span.optgroup.secure{
    text-decoration: underline;
}
.singlelabel{
    font-family: courier,monospace;
    background: #ddd;
    padding:3px;
}
.singlevalue{
    font-family: courier,monospace;
    color: #999;
}

div.progressContainer{
    width:406px;
    background: #ddd;
    height:14px;
    border:1px solid #aaa;
    position:relative;
}

div.progressContainer.small{
    width:106px;
}
div.progressContainer.indefinite{
    background: #eee;
    border:1px solid #ccc;
}
div.progressBar{
    width:0px;
    background:#88f;
    height:12px;
    color:black;
    text-shadow: 1px 1px 1px #fff;
    font-size:9px;
    line-height:9px;
    padding:1px 3px;
    border-right: 1px solid #999;
    white-space:nowrap;
    overflow-x:hidden;
    overflow-y:hidden;
}
div.progressContainer.indefinite div.progressBar{
    background:none;
    width:100%;
    height:12px;
    color:#555;
    text-shadow: 1px 1px 1px #fff;
    font-size:9px;
    line-height:9px;
    padding:1px 3px;
    border:0;
}
div.progressContainer.nodes{
    border: 0;
}
div.progressBar.nodes{
    background:#ccf;
    border-right:2px solid #aaf;
}
div.progressBar.nodes.failure{
    background:#fcc;
    border-right:2px solid #faa;
}
div.progressBar.full,div.progressBar.full.nodes{
}
div.progressBar.empty, div.progressBar.empty.failure{
    background:none;
    border-right: 0;
}
div.progressContainer.empty.nodes{
    border-right: 0;
}
div.progressContainer div.progressContent{
    padding-top:2px;
    padding-left: 5px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    width: 100%;
}

/* END execution output table */

/* execution listing */
table.executionList td{
    white-space:nowrap;
}
table.executionInfo td{
    /*font-size:7pt;*/
}
table.executionInfo tr > td:first-child{
    text-align:right;
    color: gray;
    white-space:nowrap;
}
table.executionInfo tr > td+td{
    text-align:left;
}
table.executionList td.fail, table.executionInfo td.fail{
    color: red;
}
table.executionList td.succeed, table.executionInfo td.succeed{
    color: green;
}
table.executionList td.duration, table.executionInfo td.duration{
}
table.executionList td.dateCompleted, table.executionInfo td.dateCompleted{
    padding-left: 5px;
}
table.executionList td.dateStarted, table.executionInfo td.dateStarted{
    padding-left: 5px;
}
table.executionList td.dateCompletedlabel, table.executionInfo td.dateCompletedlabel,span.dateCompletedlabel,table.jobsList td.dateCompletedlabel{
    text-align:right;
    padding-left: 5px;
}
span.timelabel{
    color: #888;
    
}
span.fail{
    color:red;
}
span.succeed{
    color: green;
}

/* END execution listing */

/* Jobs table */
table.jobsList{
    
}
table.jobsList td{
    
    
    text-align:left;
}
table.jobsList td.extended{
    
}
table.jobsList td.jobDetail{
    
}
table.jobsList td.jobDetail > div span.prompt{
    font-weight: normal;
    /*font-size:11px;*/
    color: #aaa;
    font-style:italic;
}
table.jobsList td.jobDetail > div{
    
}
table.jobsList td.jobname{
    /*width: 495px;*/
}
table.jobsList.small td.jobname{
    width: auto;
}
table.jobsList.small {
    width: 100%;
}
table.jobsList td.jobname.transient{
    color: #888;
    font-weight:normal;
    font-style:italic;
}
table.jobsList td.jobdesc,table.jobsList span.jobdesc{
    /*font-size:8pt;*/
    color:#999;
}

table.jobsList td.jobname a{
    color:black;
    font-weight:normal;
}
table.jobsList td.jobname a:hover{
    color:blue;
    text-decoration:underline;
}
table.jobsList td.jobbuttons div.buttons{
    margin: 0 0 4px 0;
}

table.jobsList td.jobbuttons div.buttons a.button, table.jobsList td.jobbuttons div.buttons span.button{
    padding: 1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;

}
span.button.small, a.button.small,.toolbar.small span.button, .toolbar.small a.button{
    padding: 1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    /*font-size:8pt;*/
}
span.button > img, a.button > img{
    vertical-align: middle;
}
table.executionList{
    border: 1px solid #e0e0e0;

}
table.jobsList td.jobDetail table.executionList{
    width: 100%;    
}
table.executionList caption{
    font-weight: normal;

    color: #aaa;
    text-align:left;
}
table.executionList td{
    
    padding: 3px;
}

table.executionList tr.fail a, table.jobsList tr.fail a{
    color:red;
}

table.jobsList td{
    padding:2px 4px;
}

table.executionList tr.nowrunning a, table.jobsList tr.nowrunning a{
}
table.jobsList.history td.eventtitle span{
    white-space:nowrap;
    text-overflow:ellipsis;
}
table.jobsList.history td.eventsummary span{
    white-space:nowrap;
    text-overflow:ellipsis;
}
table.jobsList.history tr.fail td.eventtitle{
    color:red;
}
div.buttons span.group {
    white-space:nowrap;
}


div.jobslist{
    margin: 0 0px 5px 0;
    
}
div.jobslist.small{
    margin: 0 0px 5px 0;
    width: auto;
}

span.grouplabel a{
    font-weight:normal;
}
span.grouplabel a:hover{
    color: blue;
    text-decoration:underline;
}

tr.execution td.espinner{
    width:12px;
}
tr.execution.succeeded td.jobname, tr.execution.succeeded td.jobname a{
    color:green;
}
tr.execution.succeeded td.outputlink, tr.execution.succeeded td.outputlink a{
    /*color:green;*/
}
tr.execution.failed td.jobname,tr.execution.killed td.jobname{
    color:red;
}
tr.execution.failed td.jobname a,tr.execution.killed td.jobname a{
    color:red;
}
tr.execution.failed td.outputlink,tr.execution.killed td.outputlink{
    color:red;
}
tr.execution.failed td.outputlink a,tr.execution.killed td.outputlink a{
    color:red;
}

.scriptContent{
    font-family:courier,monospace;
    max-width:500px;
    white-space:nowrap;
    max-height:300px; 
    overflow:hidden;
}

.scriptContent.expanded{
    max-width:none;
    max-height:none; 
    overflow:auto;
    white-space:pre;
}

/** bubble popup */
a.glow, span.glow {
    background: #cfc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.bubblewrap {
    position: absolute;
}

.bubblecontent {
    position: relative;
    border: 1px solid #aaa;
    background: white;
    padding: 10px;
    margin-top: 14px;
    z-index: -1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: #aaa 2px 2px 7px;
    -webkit-box-shadow: #aaa 2px 2px 7px;
}
.bubblecontent:before, .bubblecontent:after{
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-width: 0 10px 16px 10px;
    height: 0;
    width: 0;
    content:'';
    top: -16px;
    left: 10px;
}
.bubblecontent:before{
    border-bottom-color: #aaa;
    left: 10px;
}
.bubblecontent:after{
    border-bottom-color: #fff;
    left: 10px;
    top: -14px;
}

/* job edit form page */
tbody.section > tr:first-child > td{
    border-top: 1px solid #ccc;
}

/* END Jobs table */

tr.hilite:hover, td.hilite:hover{
   background: #e3edfa;
}
tr.link, td.link{
   cursor:pointer;
}
span.autohilite:hover{
    background: #ffffaa;
}
span.autoedit{
    padding:3px;
    cursor: pointer;
}
span.autoedit:hover{
    padding:2px;
    border:1px dotted #555;
}
span.dragHandle{
    cursor:move;
}
.note.empty{
    display: block;
    padding: 10px;
}
.note.help {
    display: block;
    max-width:500px;
    margin:5px;
    padding: 10px;
    font-style: normal;
    color: #555;
    border: 1px solid #ddf;
    background: #f0f0f0;
    -moz-border-radius : 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.note.error{
    display: block;

    max-width:500px;
    margin:5px;
    padding: 10px;
    font-style: normal;
    color: #F55;
    border: 1px solid #fdd;
    background: #f0f0f0;
    -moz-border-radius : 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}
.note.warn{
    
    font-style: normal;
    color: #F55;
}
.note.message{
    font-style: normal;
    color: #55F;

}
.has_help{
    border-bottom: 1px dotted blue;
}
.aster{
    font-weight: bold;
    color: #ff4444;
}
.confirmMessage{
    color:red;
}
.confirmbox{
    position:absolute;
    background:white;
    border:1px solid #aaa;
    padding:5px;
    width:220px;
    height:25px;
}



/** sidebar list */
.sideList table{
     width: 100%;
}
.sideList td{
    padding: 3px 4px 3px 4px;
}
.sideList{
    float:left;
    margin-right:10px;
    overflow-x: hidden;
}

/* used on project selecct page */
.sideList.projectList {
    min-height: 400px;
    margin-right: 40px;
}
.sideList.projectList td{
    /*font-size: 12pt;*/
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

}
.sideList tr.alternateRow td{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
}
.sideList tr.alternateRow td.selected{
    border: 1px solid #999;
}

.sideList .header{
    padding:4px;
    font-weight:bold;
    text-align:center;
    color:#888;
    border-bottom: 2px solid #bbb;
    
}

/** login page */
#loginpage{
  
}
div.login{
    margin: 50px auto;
    width: 355px;
    background: white;
    padding: 5px;
    border: 1px solid black;
    border-radius:5px;
    -moz-border-radius : 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow:#888 3px 3px 4px;
    -webkit-box-shadow:#aaa 2px 2px 7px;
}
div.login div.row{
    clear:both;
    padding: 10px 0px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
}
div.login div.row.head{
    padding-top: 3px;
    padding-bottom:3px;
    margin:0;
}
div.row label{
    float:left;
    text-align: right;
    font-weight: bold;
}
div.row span.input{
    float: left;
    text-align: left;
}
div.login div.row label{
    width: 100px;
}
div.login div.row span.input{
    float: right;
    width: 250px;
}
div.actiontitle{
    font-weight: normal;
    text-align: left;
}
div.login div.message{
    padding: 20px;
    border:0;
    margin: 0;
}
div.login div.message span.error{
    color: #f00;
    font-weight: bold;
}

/* utility styles */

.checklist {
    padding: 4px;
}
.checklist div{
    margin-bottom: 4px;
}

.floatl{
    float:left;
}
.floatr{
    float:right;
}
.clear{
    clear:both;
}
.sepR{
    border-right: 1px solid #ddd;
    margin-right: 4px;
    padding-right: 4px;
}
.sepL{
    border-left: 1px solid #ddd;
    margin-left: 4px;
    padding-left: 4px;
}
.sepT{
    border-top: 1px solid #ddd;
    margin-top: 4px;
    padding-top: 4px;
}
.sepB{
    border-bottom: 1px solid #ddd;
    margin-bottom: 4px;
    padding-bottom: 4px;
}
.prompt{
    font-weight: bold;
}
table.queryTable .prompt label{
    color:black;
}
.prompt.action{
    text-decoration:underline;
}
.prompt.major{
    margin-bottom:5px;
}

.prompt.section {
    display:block;
    margin: 5px 0;
    padding:5px;
    font-size: 120%;
    border-top:1px solid #ddd;
}

div.presentation{
    padding: 8px 16px 8px 16px;
}
.mainArea{
    
}
.timeuntil{
    color: green;
}
.timenow, a.timenow, span.nowrunning{
    color:green;
    font-weight: bold;
    font-style:italic;
}
.timeago{
    color: blue;
}
.timeabs{
    color: #555;
}

/* crontab page */
div.crontab{
  border : 1px solid #ddd;
  -moz-border-radius : 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding : 5px;
}
.crontab label{
    cursor: pointer;
}
.crontab label:hover{
    text-decoration:underline;
}

.cronselected{
    font-weight: bold;
    color: #55a;
    
}
.crondeselected{
    color: #999;
    text-decoration:line-through;

}
.hidedeselected .crondeselected{
    display: none;
}

/* general page layout */

div.pageTop{
    padding:10px;
    height:32px;
}
div.pageTop.extra{
    padding:10px;
    height:auto;
}
div.pageTop span.buttons{
    margin-left:20px;
}
div.pageContainer > div.subTop{
    padding:0;
}
div.pageSubtitle{
    /*font-size: 12pt;*/
    font-weight: bold;
    margin: 10px 0 0 10px;
    text-shadow:2px 2px 3px #bbb;
}
div.pageSubtitle.subtitleAction{
    color: blue;
}

/* pagination links */
span.paginate{
    margin: 5px 0;
    padding: 2px;
    display:block;
    /*font-size: 10pt; */
    font-variant: small-caps; 
}
span.paginate a{
    color: #aaa;
}
span.paginate:hover a{
    color: blue;
}
span.paginate a:hover{
    background: #aaf;
}
span.paginate a, span.paginate span.currentStep {
    margin: 1px;
    padding: 2px;
}
span.paginate span.currentStep {
    color: white;
    font-weight:bold;
    background: #aaa;
}
span.paginate:hover span.currentStep {
    background: blue;
}

/* sortable column */
th.sortable a{
    display:block;
}
th.sortable a:hover{
    color: blue;
    text-decoration:underline;
}

/* query output showing */
span.query,a.query{
    
    padding: 3px;
    -moz-border-radius : 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border:1px solid #ddd;
    margin-right: 5px;
}
span.query span.querykey,a.query span.querykey{
    color: #555;
}
span.query span.queryvalue.text,a.query span.queryvalue.text{
 
}
span.query span.queryvalue.date,a.query span.queryvalue.date{
    font-weight:bold;
}
span.query.textbtn,a.query.textbtn{
    border:1px solid blue;
    display:block;float:left;
    margin: 5px 5px 5px 0;
}
span.query.textbtn span.querykey,a.query.textbtn span.querykey{
    color: #555;
}
span.query.textbtn span.queryvalue,a.query.textbtn span.queryvalue{
    color:black;
    font-weight:bold;
}
span.query.textbtn:hover span.queryvalue,a.query.textbtn:hover span.queryvalue{
    color:blue;
}
span.query.textbtn  span.querykey.exclude{
    color:#555;
    text-decoration:line-through;
}
span.query.textbtn span.querykey.include{
    color:blue;
}
div.jobsReport{
    margin:10px 0;
}

/* filter fields */

div.filter label{
    font-weight: normal;
    text-transform:capitalize;
}
div.filter label.additional{
    color: blue;
}



/* job display page */

div.jobHead{
}
div.jobHead span.jobInfo{

}
div.jobHead span.jobInfoPart{
    /*font-size: 9pt;*/
    vertical-align:middle;
    margin: 0 0 0 10px;
}
div.jobHead span.jobInfoSection{
    /*font-size: 9pt;*/
    display:block;
    margin: 5px 0 5px 32px;
}
div.jobHead span.jobInfoPart span.partContent{
    margin-top:auto;
    margin-bottom:auto;
}
div.jobHead span.jobIcon{
}
div.jobHead span.jobName{
    font-size: 120%;
    font-weight: bold;
    vertical-align:middle;
    margin: 0 0 0 10px;
}
div.jobHead span.jobName.transient{
    color: #888;
    font-weight:normal;
    font-style:italic;
}
div.jobHead span.jobDesc{
    /*font-size:9pt;*/
    color:#777;
}
div.jobHead span.jobSummary{
    /*font-size: 14pt;*/
    margin: 5px 0 5px 32px;
    padding-left:5px;
    display:block;
}


span.jobcancel{
    margin: 5px;
}

span.jobfinal{
    padding: 10px;
    font-weight:bold;
    display:block;
}

#commandFlow{
    padding: 10px;
    margin: 0 20px;
    background: #fff;
    border-width: 1px 1px 0 1px;
    border-style:solid;
    border-color: #ddd;
}
div.commandFlowError{
    padding: 10px;
    margin: 0 ;
    background: #fff;
    border-width: 1px ;
    border-style:solid;
    border-color: #F00;
}

#schedExecPage > div.schedExecPagePart {
    margin: 15px 0;
}

.batchresset{
    border: 1px solid #ddd;
    margin: 0 0 10px 0;
    padding: 10px;
    background: #eee;
    -moz-border-radius : 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
span.tag,a.tag{
    padding:0 2px;
    background:#ccf;
    border:1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
span.tag.tagselected, a.tag.tagselected {
    background: #fff;
    border:1px solid #ccf;
}
span.tag.rundeckserver,a.tag.rundeckserver{
    color:black;
    font-weight:bold;
    background:transparent;
    border:0;
    border-top:1px solid red;
    border-bottom:1px solid red;
}

ul.jobGroups{
    list-style-type:none;
    padding:0;
    margin:0;
}
ul.jobGroups.subdirs{
    padding-left:20px;
}
ul.jobGroups li.sub{
    padding-left:20px;
}
ul.jobGroups li span.textbtn,ul.jobGroups li a.textbtn{

}
ul.jobGroups li a.currentdir{
    font-weight:bold;
}
ul.jobGroups li a.alljobs{
    font-weight:bold;
    font-style:italic;
}

div.jobGroups.subjobs, div.expandComponent.sub_group {
    margin-left: 16px;
}
#groupChooser{
    padding:10px;
    background: #eee;
    border:1px solid #ddd;
}

.expandComponentHolder.expanded  > div > span.expandComponentControl.jobgroupexpand span.foldertoggle{
}

.expandComponentHolder > div > span.expandComponentControl.jobgroupexpand span.foldertoggle{
}

/** Process Flow view styles **/


div.pflowlist{
    padding: 10px 10px;
    border:1px solid #ddd;
    float:left;
    width:auto;

}
div.pflowlist ol{
    margin:0;
}
div.pflowlist.edit ol.flowlist li{
    padding:2px;
}
div.pflow{
    float:left;
    width:100%;
    padding:2px;
    padding-left:20px;
}
div.pflow.static{
    float:none;
    padding:2px;
}
div.pflow.inactive{
    color:gray;
}
div.pflow.inactive a{
    color:gray;
}
div.pflow.running {
}
div.pflow.ok {
}
div.pflow.warn {
    color:red;
    cursor:pointer;
}
div.pflow.error {
    color:red;
    cursor:pointer;
}
div.pflow.missing {
    color:gray;
    font-style:italic;
}
div.pflow.missingfail {
    color:gray;
    font-style:italic;
}
div.pflow div.error_msg{
    padding: 5px;
    color: black;
    background: #eee;
}
div.pflow span.nodename{
    color:gray;
}
div.pflow span.item span.cmdname a{
    color:blue;
    font-weight:normal;
}
div.pflow span.item span.cmdname a:hover{
    text-decoration:underline;
}
div.pflow.inactive span.item span.cmdname a{
    color:gray;
}
div.pflow.missing span.item span.cmdname a{
    color:gray;
}
div.pflow.missingfail span.item span.cmdname a{
    color:gray;
}

div.pflow pre{
    margin:0;
}
li.alternate{
    background: #f0f0f0;
}
span.typename{
    color:#333;
    font-style:italic;
}
span.typename a{
    color:#333;
}
span.cmdname{
    color:blue;
    font-weight:normal;
}
span.resname, span.resname a{
    color:black;
}
span.node, span.node a{
    color:black;
    font-family:Courier,monospace;
}

/**
  base report page
**/

tr.subsection {
  background: #ddd;

}
tr.subsection > td {
    padding: 0 0 4px;

}
tr.subsection.alternateRow > td {
    padding: 0 0 4px;

}
tr.subsection > td > div.solo{
    padding: 5px 5px 5px 15px;
}
tr.subsection > td > div.left{
    padding:0;
}
tr.subsection > td > div.left > div.right{
    padding: 5px 15px 5px 15px;
}
tr.subsection > td > div.right{
    padding: 5px 15px 5px 15px;
}
tr.sectionhead.expanded td{
    border-top:1px solid #aaa;
    padding-top:3px;
}
tr.sectionhead td.eventtitle{
    overflow:hidden;
    white-space:nowrap;
    width:50px;
}
tr.sectionhead td.eventsummary{
    overflow:hidden;
    white-space:nowrap;
    width:50px;
}
tr.sectionhead td.eventtitle.job{
}
tr.sectionhead td.eventtitle.adhoc{
    font-style:italic;
    color: #888;
}
tr.sectionhead td.eventmessage{
    overflow:hidden;
    white-space:nowrap;
}
tr.sectionhead td.statusmessage.fail{
    color:red;
}
tr.sectionhead td.statusmessage.succeed{
    color:green;
}
tr.sectionhead td.nodecount.fail{
    color:red;
    font-weight:bold;
    /*color:black;*/
    /*background: #fcc;*/
}
tr.sectionhead td.nodecount.ok{
    color: #555;
}

tr.subsection span.title{
    color: #888;
}
tr.subsection span.date{
    color: #888;
    padding:0 5px;
}
tr.subsection span.date:before{
    content: "( ";
}
tr.subsection span.date:after{
    content: " )";
}
div.rptmessage{
    margin-top:  5px ;
    padding:  0px 5px 5px 10px;
    overflow: auto;
    max-width:800px;
}
div.msgtext, span.msgtext, td.msgtext{
    color: #555;
}
div.msgrow{
    height: 16px;
    max-width:300px;
    overflow:hidden;
    white-space:nowrap;
}
div.rptitem{
    margin:  5px 5px 5px 10px;
}

div.popout, span.popout{
    padding:5px;
    border: 1px solid #aaa;
    border-radius:5px;
    -moz-border-radius : 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow:#888 3px 3px 4px;
    -webkit-box-shadow:#aaa 2px 2px 7px;
}

div.rounded, span.rounded{
    padding:5px;
    margin: 4px 0;
    border: 1px solid #ddd;
    border-radius:5px;
    -moz-border-radius : 5px;
    -webkit-border-radius: 5px;
}
div.subform{
    padding:5px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius:5px;
    -moz-border-radius : 5px;
    -webkit-border-radius: 5px;
}
/**
 * Filter definition css
**/
div.filterdef{
    padding:5px;
    margin: 4px 0;
    border: 1px solid #aaa;
    border-radius:5px;
    -moz-border-radius : 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow:#888 3px 3px 4px;
    -webkit-box-shadow:#aaa 2px 2px 7px;

}
div.filterdef div.inputline{
    margin: 4px 5px;
}

/** detail popup */
.detailpopup{
    background:white;
    border:1px solid #aaa;
    padding:5px;
    position:absolute;
    -moz-box-shadow:#888 3px 3px 4px;
    -webkit-box-shadow:#aaa 2px 2px 7px;
}

/** node detail */
.nodedetail{
    border-radius:5px;
    -moz-border-radius : 5px;
    -webkit-border-radius: 5px;
    
}
.nodedetail tr td.key{
    width: 110px;
    text-align:right;
    font-weight:bold;
    color: #555;
}

/** project set for node listing */
div.project_group, tr.project_group{
}
div.project_group a.project,tr.project_group a.project{
    color:blue;
    font-weight:normal;
}
tr.node_entry td,tr.object_entry td{
    vertical-align:top;
}
tr.node_entry.server span.node_ident,.node_entry.server.node_ident,.node_entry.server span.node_ident{
    /*text-shadow: 1px 1px 2px #faa;*/
    font-weight:bold;
    border:0;
}
tr.node_entry.server span.desc,.node_entry.server span.desc{

}
tr.node_entry.server span.desc:before,.node_entry.server span.desc:before,.nodedetail.server span.desc:before{
    color:#f66;
    content: " server " "\2022" " ";
}
td.username{
    text-align:right;
}
td.username span.atsign{
    color: #888;
}

.entry_list{
    padding:10px;
}
.entry_list .entry{
    display:block;
}

/** run/nodes page summary **/

div.nodesummary{
    padding: 10px;
}
div.nodesummary span.match{
    font-weight:bold;
}
div.nodesummary span.type{
    color: #888;
}

/** class matchednodes.embed used when showing an embedded list of matched nodes 
*/
.allnodes{

}
.matchednodes.embed{
    width:800px;
    line-height:20px;
}
.matchednodes.embed .node_entry{
    white-space:nowrap;
    padding-right:2px;
    padding-top:1px;
    padding-bottom:1px;
    margin:2px;
    border:1px solid #aaa;
    border-radius:3px;
    -moz-border-radius : 3px;
    -webkit-border-radius: 3px;
    /*background:white;*/
}
.matchednodes.embed div.info.note{
    margin-bottom:10px;
}

/** loading display */
.loading{
    font-weight:bold;
    color:#ccc;
}

/**
 * Widget box styles
*/
        div.zbox{
            padding: 0 0 0 0;
            margin-top:10px;
            clear:both;
        }
        table.dashboxes td.dashbox{
            text-align:left;
            vertical-align:top;
            width:420px;
            padding: 10px;
        }
        table.dashboxes td.dashbox.wide{
            width:auto;
        }
        table.dashboxes div.boxctl{
            text-align:left;
            vertical-align:middle;
            height:20px;
        }
        table.dashboxes td.dashbox.small{
            width:300px;
        }
        td.dashbox div.wbox{
            max-height:400px;
            overflow-y:auto;
            overflow-x:auto;
            width:600px;
            height:320px;
        }
        td.dashbox div.wbox table.list{
            width:100%;
            table-layout:fixed;
        }
        td.dashbox.small div.wbox{
            width:500px;
        }
        td.dashbox.small div.wbox table.list{
            width:100%;
            table-layout:fixed;
        }
        .dashbox .loading{
            padding: 0 0 0 20px;
        }
        div.boxctl{
            border:0;
            padding:0;
        }
        div.boxct{
            border:0;
            padding:5px 0;
        }
        .boxctl span.btabs{
            margin-left:10px;
            padding:5px;
        }
        span.btabs span.btab{
            padding:5px;
            border: 1px solid #aaa;
            color:#888;
        }
        span.btabs span.btab:hover{
            cursor:pointer;
        }
        span.btabs span.btab.selected{
            color:#000;
            text-shadow:#888 2px 2px 3px;
            font-weight:normal;
        }
        div.obox{
            clear:both;    
            background: #efefef;
        }
        div.obox div.wbox{
            padding:10px;
        }
        span.titlegroup{
            padding:5px ;
        }
        span.boxtitle{
            font-weight:bold;
            /*font-size:110%;*/
        }
        span.maxbtn{
            cursor:pointer;
        }
        .titlegroup.action:hover{
            background: #e3edfa;
        }
        div.boxctl.full{
            
        }
        td.dashbox div.boxctl:hover span.titlegroup{
            padding:4px ;
            border:1px dashed #aaa;
            cursor:pointer;
        }
        .boxclose{
            float:right;
            padding:5px;
            margin-top:-5px;
        }

/**
User auth edit/view styles
*/
table.userauth{
    border-collapse:collapse;
}
table.userauth td.section{
    vertical-align:top;
    padding: 0px;
}
table.userauth tr{
    padding:0;
    border:0;
    margin:0;
}
table.userauth td.section{
    border:1px solid #ddd;
    padding:0;
}
table.userauth td.section.admin{
    border:1px solid #f00;
    
}
table.userauth td.section table{
    border:0;
}
table.userauth td.section table td{
    padding:3px;
}
table.userauth td.section table th{
    padding:5px;
}
table.userauth tr.allowed td.accesslabel{
    
}
table.userauth tr.disallowed td.accesslabel{
    text-decoration:line-through;
    color: #888;
}

.authItem.enabled{
    /*background: #cfc;*/
}
.authItem.disabled{
    /*background: #ccc;*/
}
.authItem.changed{
    background: #FFA;
}

table.userlist .userlogin{
    font-weight:bold;
}
table.userlist .username{
    color:#888;
}

/** workflows page */

div.jobstats table td{
    font-size: 0.9em;
}
div.jobstats .statlabel{
    color: gray;
    text-align:right;
    white-space:nowrap;
}
div.jobstats .statvalue{
    white-space:nowrap;
}

div.jobstats  span.when{
    color:blue;
}
div.jobstats  span.username{
    font-weight:bold;
}

.note.info.none a{
    color:#999;
}

.receiver{
    padding:2px;
    text-shadow:#888 2px 2px 3px;
    border-radius:3px;
    -moz-border-radius : 3px;
    -webkit-border-radius: 3px;
}

/** badges for update info */

span.badge{
    padding:0px 4px;
    font-variant:small-caps;
    -moz-border-radius : 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px ;
    color:white;
    font-weight:bold;
    background: #090;
}
span.badge.active{
    cursor:pointer;
}
span.badgeholder{
    /*font-size:9pt;*/
    padding:0;
    padding-left:9px;
    
}

/** project chooser listing */

table.projectselect{
    margin:10px 0;
}
table.projectselect td{
    font-size: 140%;
    padding: 5px;
}

/** html5 form components */
fieldset{
    border:0;
    padding:0;
}

/** run box */

.runbox{
    background: #ddd;
    padding:10px ;
}
.runbox.sepT{
    border-top:1px solid #bbb;
    margin:0;
}
.runbox.jobs{
    padding:0;
}
.runbox.jobs .jobscontent, .runbox.jobs .wffilter{
    padding:  10px;
}
.runbox.jobs .wfcontent{
    padding:  0;
}
div.jobscontent{
    margin-bottom: 5px;
}
.runbox.jobs .jobscontent{
    margin-bottom: 0;
}
.runbox div.jobGroups.topgroup{
    background: #fff;
    padding: 20px;
}
.runbox div.newjob{
    background: #fff;
    padding: 20px 20px 0px 20px;
}
.runbox table.list tr{
    /*background: #ddd;*/
}

/** now running content */
#nowrunning{
    max-height: 150px;
    overflow-y: auto;
    margin:0;
}

/** api tokens **/
span.apitoken {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    font-family: Courier, monospace;
    color: black;
}

span.apitoken.empty {

    border: none;
    background: none;
    font-family: Courier, monospace;
    color: #bbb;
}

/** plugin configuration styles */
.configvalue{
    color: #080;
}
.configpair{
    padding:2px;
    background-color: #eee;
    border-radius: 3px;
    margin-right:2px;
}
