.p-toggleswitch {
    .p-toggleswitch-handle {
        background: var(--colors-white)
    }

    .p-toggleswitch-slider {
        background: var(--colors-gray-300);
    }
    &.p-disabled .p-toggleswitch-slider {
        background: var(--colors-gray-200);
    }

    &.p-toggleswitch-checked {
        &.p-disabled .p-toggleswitch-slider {
            background: var(--colors-blue-200);
        }

        .p-toggleswitch-slider {
            background: var(--colors-blue-500);
        }
    }

}
