.rd-with-pd-logo__rd-text {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill: var(--font-color)
}

.rd-with-pd-logo__chevron {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill: var(--brand-color);
}

.rd-with-pd-logo__text {
    fill: var(--font-color);
}