//pagerduty icon
.pdicon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
  
    &.app-logo{
      background-image: url("#{$logos-asset}/pagerdutylogo.svg");
      background-size: 20px 20px;
      height: 20px;
      width: 20px;
      vertical-align: baseline;
      .sidebar &{
        height: 24px;
        width: 24px;
        background-size: 24px;
        vertical-align: bottom;
      }
    }
  }
  