@import "../runstrap/variables";

.wfnodestate{
  border-radius: 3px;
  padding: 5px 3px;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover, &.open{
    background: var(--background-color-lvl3);
  }
}

.wfnodestep {
  border: 1px solid var(--background-color-accent-lvl2);
  border-radius: 3px;
  margin: 4px 0 0 20px;
  padding: 5px 3px;
  background: var(--background-color-lvl2);
  .closed {
    display: none;
  }
  .stepident{

  }
}

.wfnodestep.open {
  .closed {
    display: block;
  }
}

.customattributes {
  border-bottom: 1px solid var(--background-color-accent-lvl2);
  margin-top: 10px;
  margin-bottom: 10px;
}
