@import '../paper/_variables';

.label{
  &.label-default{
    a{
      color: $white-color;
    }
  }
  &.label-white{
    background-color: white;
    color: black;
  }

  &.label-muted {
    color: $dark-gray;
    background-color: $very-light-gray;
    &.active{
      background-color: $light-gray;
    }
  }

  &.label-secondary {
    color: $dark-gray;
    background-color: $light-gray;
    &.active{
      background-color: $medium-gray;
    }
  }
}

a:hover.label {
  &.label-muted {
    background-color: $light-gray;

  }

  &.label-secondary {

    background-color: $medium-gray;
  }
}

a.label, a.label:focus, a.label:hover {
  color: inherit;
}
