:root {
  --breakpoints-base: 0em;
  --breakpoints-sm: 30em;
  --breakpoints-md: 48em;
  --breakpoints-lg: 62em;
  --breakpoints-xl: 80em;
  --breakpoints-2xl: 96em;
  --zIndices-hide: -1;
  --zIndices-auto: auto;
  --zIndices-base: 0;
  --zIndices-docked: 10;
  --zIndices-dropdown: 1000;
  --zIndices-sticky: 1100;
  --zIndices-banner: 1200;
  --zIndices-overlay: 1300;
  --zIndices-modal: 1400;
  --zIndices-popover: 1500;
  --zIndices-skipLink: 1600;
  --zIndices-toast: 1700;
  --zIndices-tooltip: 1800;
  --zIndices-menu: 1450;
  --radii-none: 0;
  --radii-sm: 0.125rem;
  --radii-base: 0.25rem;
  --radii-md: 0.375rem;
  --radii-lg: 0.5rem;
  --radii-xl: 0.75rem;
  --radii-2xl: 1rem;
  --radii-3xl: 1.5rem;
  --radii-full: 9999px;
  --blur-none: 0;
  --blur-sm: 4px;
  --blur-base: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --colors-transparent: transparent;
  --colors-current: currentColor;
  --colors-black: #000000;
  --colors-white: #FFFFFF;
  --colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  --colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
  --colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
  --colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
  --colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
  --colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
  --colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
  --colors-whiteAlpha-800: rgba(255, 255, 255, 0.80);
  --colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
  --colors-blackAlpha-50: rgba(0, 0, 0, 0.05);
  --colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
  --colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
  --colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
  --colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
  --colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
  --colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
  --colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
  --colors-blackAlpha-800: rgba(0, 0, 0, 0.80);
  --colors-blackAlpha-900: rgba(0, 0, 0, 0.92);
  --colors-gray-50: #F7FAFC;
  --colors-gray-100: #EDF2F7;
  --colors-gray-200: #E2E8F0;
  --colors-gray-300: #CBD5E0;
  --colors-gray-400: #8A95A8;
  --colors-gray-500: #647487;
  --colors-gray-600: #4A5568;
  --colors-gray-700: #2D3748;
  --colors-gray-800: #1A202C;
  --colors-gray-900: #171923;
  --colors-red-50: #FFF5F5;
  --colors-red-100: #FED7D7;
  --colors-red-200: #FEB2B2;
  --colors-red-300: #FC8181;
  --colors-red-400: #F56565;
  --colors-red-500: #D92626;
  --colors-red-600: #C53030;
  --colors-red-700: #9B2C2C;
  --colors-red-800: #822727;
  --colors-red-900: #63171B;
  --colors-orange-50: #FFFAF0;
  --colors-orange-100: #FEEBC8;
  --colors-orange-200: #FBD38D;
  --colors-orange-300: #F6AD55;
  --colors-orange-400: #ED8936;
  --colors-orange-500: #DD6B20;
  --colors-orange-600: #C05621;
  --colors-orange-700: #9C4221;
  --colors-orange-800: #7B341E;
  --colors-orange-900: #652B19;
  --colors-yellow-50: #FFFCE6;
  --colors-yellow-100: #FFF8CC;
  --colors-yellow-200: #FFF3A6;
  --colors-yellow-300: #FFED7F;
  --colors-yellow-400: #FFDC00;
  --colors-yellow-500: #D69E2E;
  --colors-yellow-600: #B7791F;
  --colors-yellow-700: #975A16;
  --colors-yellow-800: #744210;
  --colors-yellow-900: #665000;
  --colors-green-50: #F0FFF4;
  --colors-green-100: #E2F2E3;
  --colors-green-200: #9AE6B4;
  --colors-green-300: #68D391;
  --colors-green-400: #48BB78;
  --colors-green-500: #38A169;
  --colors-green-600: #2C7D54;
  --colors-green-700: #276749;
  --colors-green-800: #22543D;
  --colors-green-900: #1C4532;
  --colors-teal-50: #E6FFFA;
  --colors-teal-100: #B2F5EA;
  --colors-teal-200: #81E6D9;
  --colors-teal-300: #4FD1C5;
  --colors-teal-400: #38B2AC;
  --colors-teal-500: #319795;
  --colors-teal-600: #2C7A7B;
  --colors-teal-700: #285E61;
  --colors-teal-800: #234E52;
  --colors-teal-900: #1D4044;
  --colors-blue-50: #EBF8FF;
  --colors-blue-100: #BEE3F8;
  --colors-blue-200: #90CDF4;
  --colors-blue-300: #63B3ED;
  --colors-blue-400: #4299E1;
  --colors-blue-500: #0052CC;
  --colors-blue-600: #003F9C;
  --colors-blue-700: #003380;
  --colors-blue-800: #002660;
  --colors-blue-900: #1A365D;
  --colors-cyan-50: #EDFDFD;
  --colors-cyan-100: #C4F1F9;
  --colors-cyan-200: #9DECF9;
  --colors-cyan-300: #76E4F7;
  --colors-cyan-400: #0BC5EA;
  --colors-cyan-500: #00B5D8;
  --colors-cyan-600: #00A3C4;
  --colors-cyan-700: #0987A0;
  --colors-cyan-800: #086F83;
  --colors-cyan-900: #065666;
  --colors-purple-50: #FAF5FF;
  --colors-purple-100: #E9D8FD;
  --colors-purple-200: #D6BCFA;
  --colors-purple-300: #B794F4;
  --colors-purple-400: #9F7AEA;
  --colors-purple-500: #805AD5;
  --colors-purple-600: #6B46C1;
  --colors-purple-700: #553C9A;
  --colors-purple-800: #44337A;
  --colors-purple-900: #322659;
  --colors-pink-50: #FFF5F7;
  --colors-pink-100: #FED7E2;
  --colors-pink-200: #FBB6CE;
  --colors-pink-300: #F687B3;
  --colors-pink-400: #ED64A6;
  --colors-pink-500: #CD2D80;
  --colors-pink-600: #B83280;
  --colors-pink-700: #97266D;
  --colors-pink-800: #702459;
  --colors-pink-900: #521B41;
  --colors-linkedin-50: #E8F4F9;
  --colors-linkedin-100: #CFEDFB;
  --colors-linkedin-200: #9BDAF3;
  --colors-linkedin-300: #68C7EC;
  --colors-linkedin-400: #34B3E4;
  --colors-linkedin-500: #00A0DC;
  --colors-linkedin-600: #008CC9;
  --colors-linkedin-700: #0077B5;
  --colors-linkedin-800: #005E93;
  --colors-linkedin-900: #004471;
  --colors-facebook-50: #E8F4F9;
  --colors-facebook-100: #D9DEE9;
  --colors-facebook-200: #B7C2DA;
  --colors-facebook-300: #6482C0;
  --colors-facebook-400: #4267B2;
  --colors-facebook-500: #385898;
  --colors-facebook-600: #314E89;
  --colors-facebook-700: #29487D;
  --colors-facebook-800: #223B67;
  --colors-facebook-900: #1E355B;
  --colors-messenger-50: #D0E6FF;
  --colors-messenger-100: #B9DAFF;
  --colors-messenger-200: #A2CDFF;
  --colors-messenger-300: #7AB8FF;
  --colors-messenger-400: #2E90FF;
  --colors-messenger-500: #0078FF;
  --colors-messenger-600: #0063D1;
  --colors-messenger-700: #0052AC;
  --colors-messenger-800: #003C7E;
  --colors-messenger-900: #002C5C;
  --colors-whatsapp-50: #dffeec;
  --colors-whatsapp-100: #b9f5d0;
  --colors-whatsapp-200: #90edb3;
  --colors-whatsapp-300: #65e495;
  --colors-whatsapp-400: #3cdd78;
  --colors-whatsapp-500: #22c35e;
  --colors-whatsapp-600: #179848;
  --colors-whatsapp-700: #0c6c33;
  --colors-whatsapp-800: #01421c;
  --colors-whatsapp-900: #001803;
  --colors-twitter-50: #E5F4FD;
  --colors-twitter-100: #C8E9FB;
  --colors-twitter-200: #A8DCFA;
  --colors-twitter-300: #83CDF7;
  --colors-twitter-400: #57BBF5;
  --colors-twitter-500: #1DA1F2;
  --colors-twitter-600: #1A94DA;
  --colors-twitter-700: #1681BF;
  --colors-twitter-800: #136B9E;
  --colors-twitter-900: #0D4D71;
  --colors-telegram-50: #E3F2F9;
  --colors-telegram-100: #C5E4F3;
  --colors-telegram-200: #A2D4EC;
  --colors-telegram-300: #7AC1E4;
  --colors-telegram-400: #47A9DA;
  --colors-telegram-500: #0088CC;
  --colors-telegram-600: #007AB8;
  --colors-telegram-700: #006BA1;
  --colors-telegram-800: #005885;
  --colors-telegram-900: #003F5E;
  --colors-dangerOnLight: #D92626;
  --colors-dangerOnDark: #F56565;
  --colors-successOnLight: #38A169;
  --colors-successOnDark: #48BB78;
  --colors-primaryBackgroundOnLight: #F7FAFC;
  --colors-primaryBackgroundOnDark: #171923;
  --colors-secondaryBackgroundOnLight: #E2E8F0;
  --colors-secondaryBackgroundOnDark: #2D3748;
  --colors-dangerTextOnLight: #D92626;
  --colors-defaultTextOnLight: #2D3748;
  --colors-secondaryTextOnLight: #171923;
  --colors-subtleTextOnLight: #647487;
  --colors-defaultTextOnDark: #E2E8F0;
  --colors-secondaryTextOnDark: #F7FAFC;
  --colors-subtleTextOnDark: #8A95A8;
  --colors-focusRingOnLight: #0052CC;
  --colors-focusRingOnDark: #4299E1;
  --colors-primaryButtonOnLight: #0052CC;
  --colors-primaryButtonOnDark: #4299E1;
  --colors-primaryButtonHoverOnLight: #003F9C;
  --colors-primaryButtonHoverOnDark: #63B3ED;
  --colors-primaryButtonActiveOnLight: #003380;
  --colors-primaryButtonActiveOnDark: #90CDF4;
  --colors-primaryButtonFocusOnLight: #003380;
  --colors-primaryButtonFocusOnDark: #90CDF4;
  --colors-dangerButtonOnLight: #D92626;
  --colors-dangerButtonOnDark: #F56565;
  --colors-dangerButtonHoverOnLight: #C53030;
  --colors-dangerButtonHoverOnDark: #FC8181;
  --colors-dangerButtonActiveOnLight: #9B2C2C;
  --colors-dangerButtonActiveOnDark: #FEB2B2;
  --colors-dangerButtonFocusOnLight: #9B2C2C;
  --colors-dangerButtonFocusOnDark: #FEB2B2;
  --colors-successButtonOnLight: #38A169;
  --colors-successButtonOnDark: #48BB78;
  --colors-successButtonHoverOnLight: #2C7D54;
  --colors-successButtonHoverOnDark: #68D391;
  --colors-successButtonActiveOnLight: #276749;
  --colors-successButtonActiveOnDark: #9AE6B4;
  --colors-successButtonFocusOnLight: #2C7D54;
  --colors-successButtonFocusOnDark: #68D391;
  --colors-outlineButtonBackground: #FFFFFF;
  --colors-outlineButtonBackgroundHoverOnLight: #EDF2F7;
  --colors-outlineButtonBackgroundHoverOnDark: #1A202C;
  --colors-outlineButtonBackgroundActiveOnLight: #E2E8F0;
  --colors-outlineButtonBackgroundActiveOnDark: #2D3748;
  --colors-outlineButtonBackgroundFocusOnLight: #E2E8F0;
  --colors-outlineButtonBackgroundFocusOnDark: #2D3748;
  --colors-defaultOutlineButtonBorderOnLight: #8A95A8;
  --colors-defaultOutlineButtonBorderOnDark: #2D3748;
  --colors-defaultOutlineButtonBorderHoverOnLight: #8A95A8;
  --colors-defaultOutlineButtonBorderHoverOnDark: #4A5568;
  --colors-defaultOutlineButtonBorderActiveOnLight: #647487;
  --colors-defaultOutlineButtonBorderActiveOnDark: #4A5568;
  --colors-defaultOutlineButtonBorderFocusOnLight: #CBD5E0;
  --colors-defaultOutlineButtonBorderFocusOnDark: #4A5568;
  --colors-dangerOutlineButtonBorderOnLight: #D92626;
  --colors-dangerOutlineButtonBorderOnDark: #9B2C2C;
  --colors-dangerOutlineButtonBorderHoverOnLight: #C53030;
  --colors-dangerOutlineButtonBorderHoverOnDark: #C53030;
  --colors-dangerOutlineButtonBorderActiveOnLight: #9B2C2C;
  --colors-dangerOutlineButtonBorderActiveOnDark: #D92626;
  --colors-dangerOutlineButtonBorderFocusOnLight: #FC8181;
  --colors-dangerOutlineButtonBorderFocusOnDark: #C53030;
  --colors-ghostButton: transparent;
  --colors-ghostButtonHoverOnLight: #EDF2F7;
  --colors-ghostButtonHoverOnDark: #2D3748;
  --colors-ghostButtonActiveOnLight: #E2E8F0;
  --colors-ghostButtonActiveOnDark: #1A202C;
  --colors-ghostButtonFocusOnLight: #E2E8F0;
  --colors-ghostButtonFocusOnDark: #1A202C;
  --colors-defaultGhostButtonTextOnLight: #1A202C;
  --colors-defaultGhostButtonTextOnDark: #E2E8F0;
  --colors-defaultGhostButtonTextHoverOnLight: #171923;
  --colors-defaultGhostButtonTextHoverOnDark: #F7FAFC;
  --colors-defaultGhostButtonTextActiveOnLight: #171923;
  --colors-defaultGhostButtonTextActiveOnDark: #F7FAFC;
  --colors-primaryGhostButtonTextOnLight: #0052CC;
  --colors-primaryGhostButtonTextOnDark: #BEE3F8;
  --colors-primaryGhostButtonTextHoverOnLight: #003F9C;
  --colors-primaryGhostButtonTextHoverOnDark: #90CDF4;
  --colors-primaryGhostButtonTextActiveOnLight: #003380;
  --colors-primaryGhostButtonTextActiveOnDark: #63B3ED;
  --colors-dangerGhostButtonTextOnLight: #D92626;
  --colors-dangerGhostButtonTextOnDark: #FED7D7;
  --colors-dangerGhostButtonTextHoverOnLight: #C53030;
  --colors-dangerGhostButtonTextHoverOnDark: #FEB2B2;
  --colors-dangerGhostButtonTextActiveOnLight: #9B2C2C;
  --colors-dangerGhostButtonTextActiveOnDark: #FC8181;
  --colors-defaultLinkOnLight: #0052CC;
  --colors-defaultLinkHoverOnLight: #003F9C;
  --colors-defaultLinkOnDark: #90CDF4;
  --colors-defaultLinkHoverOnDark: #63B3ED;
  --colors-borderOnLight: #E2E8F0;
  --colors-borderOnDark: #2D3748;
  --colors-borderHoverOnLight: #CBD5E0;
  --colors-borderHoverOnDark: #4A5568;
  --colors-errorBorderOnLight: #D92626;
  --colors-errorBorderOnDark: #F56565;
  --colors-radioCenterOnLight: #FFFFFF;
  --colors-radioCenterOnDark: #171923;
  --colors-radioDefaultOnDark: #8A95A8;
  --colors-radioDefaultOnLight: #647487;
  --colors-radioDisabledOnDark: #8A95A8;
  --colors-radioDisabledOnLight: #647487;
  --colors-radioFocusFillOnDark: #4299E1;
  --colors-radioFocusFillOnLight: #0052CC;
  --colors-radioHoverOnDark: #63B3ED;
  --colors-radioHoverOnLight: #003F9C;
  --colors-radioInvalidHoverOnDark: #FC8181;
  --colors-radioInvalidHoverOnLight: #C53030;
  --colors-radioInvalidOnDark: #F56565;
  --colors-radioInvalidOnLight: #D92626;
  --colors-segmentedButtonTextOnLight: #171923;
  --colors-segmentedButtonTextOnDark: #F7FAFC;
  --colors-segmentedButtonBorderOnLight: #E2E8F0;
  --colors-segmentedButtonBorderOnDark: #2D3748;
  --colors-segmentedButtonOnLight: transparent;
  --colors-segmentedButtonOnDark: transparent;
  --colors-segmentedButtonHoverOnLight: #EDF2F7;
  --colors-segmentedButtonHoverOnDark: #1A202C;
  --colors-segmentedButtonSelectedTextOnLight: #FFFFFF;
  --colors-segmentedButtonSelectedTextOnDark: #000000;
  --colors-segmentedButtonSelectedOnLight: #4A5568;
  --colors-segmentedButtonSelectedOnDark: #CBD5E0;
  --colors-segmentedButtonHoverSelectedOnLight: #2D3748;
  --colors-segmentedButtonHoverSelectedOnDark: #E2E8F0;
  --colors-segmentedButtonDisabledTextOnLight: #647487;
  --colors-segmentedButtonDisabledTextOnDark: #8A95A8;
  --letterSpacings-tighter: -0.04em;
  --letterSpacings-tight: -0.02em;
  --letterSpacings-normal: 0;
  --letterSpacings-wide: 0.02em;
  --letterSpacings-wider: 0.04em;
  --letterSpacings-widest: 0.06em;
  --lineHeights-3: .75rem;
  --lineHeights-4: 1rem;
  --lineHeights-5: 1.25rem;
  --lineHeights-6: 1.5rem;
  --lineHeights-7: 1.75rem;
  --lineHeights-8: 2rem;
  --lineHeights-9: 2.25rem;
  --lineHeights-10: 2.5rem;
  --lineHeights-normal: normal;
  --lineHeights-none: 1;
  --lineHeights-shorter: 1.25;
  --lineHeights-short: 1.375;
  --lineHeights-base: 1.5;
  --lineHeights-tall: 1.625;
  --lineHeights-taller: 2;
  --fontWeights-hairline: 100;
  --fontWeights-thin: 200;
  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 500;
  --fontWeights-semibold: 600;
  --fontWeights-bold: 700;
  --fontWeights-extrabold: 800;
  --fontWeights-black: 900;
  --fontWeights-regular: 400;
  --fonts-heading: -apple-system, BlinkMacSystemFont,“Segoe UI”, “Roboto”, “Oxygen”,“Ubuntu”, “Cantarell”, “Fira Sans”,“Droid Sans”, “Helvetica Neue”, sans-serif;
  --fonts-body: -apple-system, BlinkMacSystemFont,“Segoe UI”, “Roboto”, “Oxygen”,“Ubuntu”, “Cantarell”, “Fira Sans”,“Droid Sans”, “Helvetica Neue”, sans-serif;
  --fonts-mono: “Roboto Mono”, “Courier New”, monospace;
  --fontSizes-xs: 0.75rem;
  --fontSizes-sm: 0.875rem;
  --fontSizes-md: 1rem;
  --fontSizes-lg: 1.25rem;
  --fontSizes-xl: 1.5rem;
  --fontSizes-2xl: 1.75rem;
  --fontSizes-3xl: 2rem;
  --fontSizes-4xl: 2.25rem;
  --fontSizes-5xl: 2.5rem;
  --fontSizes-6xl: 3rem;
  --fontSizes-7xl: 4rem;
  --fontSizes-8xl: 4.5rem;
  --fontSizes-9xl: 5rem;
  --sizes-1: 0.25rem;
  --sizes-2: 0.5rem;
  --sizes-3: 0.75rem;
  --sizes-4: 1rem;
  --sizes-5: 1.25rem;
  --sizes-6: 1.5rem;
  --sizes-7: 1.75rem;
  --sizes-8: 2rem;
  --sizes-9: 2.25rem;
  --sizes-10: 2.5rem;
  --sizes-12: 3rem;
  --sizes-14: 3.5rem;
  --sizes-16: 4rem;
  --sizes-20: 5rem;
  --sizes-24: 6rem;
  --sizes-28: 7rem;
  --sizes-32: 8rem;
  --sizes-36: 9rem;
  --sizes-40: 10rem;
  --sizes-44: 11rem;
  --sizes-48: 12rem;
  --sizes-52: 13rem;
  --sizes-56: 14rem;
  --sizes-60: 15rem;
  --sizes-64: 16rem;
  --sizes-72: 18rem;
  --sizes-80: 20rem;
  --sizes-96: 24rem;
  --sizes-px: 1px;
  --sizes-0\.5: 0.125rem;
  --sizes-1\.5: 0.375rem;
  --sizes-2\.5: 0.625rem;
  --sizes-3\.5: 0.875rem;
  --sizes-max: max-content;
  --sizes-min: min-content;
  --sizes-full: 100%;
  --sizes-3xs: 14rem;
  --sizes-2xs: 16rem;
  --sizes-xs: 20rem;
  --sizes-sm: 24rem;
  --sizes-md: 28rem;
  --sizes-lg: 32rem;
  --sizes-xl: 36rem;
  --sizes-2xl: 42rem;
  --sizes-3xl: 48rem;
  --sizes-4xl: 56rem;
  --sizes-5xl: 64rem;
  --sizes-6xl: 72rem;
  --sizes-7xl: 80rem;
  --sizes-8xl: 90rem;
  --sizes-container-sm: 640px;
  --sizes-container-md: 768px;
  --sizes-container-lg: 1024px;
  --sizes-container-xl: 1280px;
  --sizes-none: 0;
  --sizes-modal-md: 512px;
  --shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
  --shadows-inner: inset 0 2px 4px 0 rgba(0,0,0,0.06);
  --shadows-none: none;
  --shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-14: 3.5rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-28: 7rem;
  --space-32: 8rem;
  --space-36: 9rem;
  --space-40: 10rem;
  --space-44: 11rem;
  --space-48: 12rem;
  --space-52: 13rem;
  --space-56: 14rem;
  --space-60: 15rem;
  --space-64: 16rem;
  --space-72: 18rem;
  --space-80: 20rem;
  --space-96: 24rem;
  --space-px: 1px;
  --space-0\.5: 0.125rem;
  --space-1\.5: 0.375rem;
  --space-2\.5: 0.625rem;
  --space-3\.5: 0.875rem;
  --space-none: 0;
  --borders-none: 0;
  --borders-1px: 1px solid;
  --borders-2px: 2px solid;
  --borders-4px: 4px solid;
  --borders-8px: 8px solid;
  --transition-property-common: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  --transition-property-colors: background-color, border-color, color, fill, stroke;
  --transition-property-dimensions: width, height;
  --transition-property-position: left, right, top, bottom;
  --transition-property-background: background-color, background-image, background-position;
  --transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration-ultra-fast: 50ms;
  --transition-duration-faster: 100ms;
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 200ms;
  --transition-duration-slow: 300ms;
  --transition-duration-slower: 400ms;
  --transition-duration-ultra-slow: 500ms;
}