rundeck {
    {{- range gets "/rundeck/jaas/modules/*" -}}
        {{ if eq .Value "JettyCachingLdapLoginModule" -}}
            {{ template "JettyCachingLdapLoginModule" "JettyCachingLdapLoginModule" }}
        {{ else if eq .Value "JettyCombinedLdapLoginModule" -}}
            {{ template "JettyCachingLdapLoginModule" "JettyCombinedLdapLoginModule" }}
        {{ else if eq .Value "PropertyFileLoginModule" -}}
            {{ template "PropertyFileLoginModule" }}
        {{- end -}}
    {{- end }}

    {{ if not (exists "/rundeck/jaas/modules/0") -}}
        {{ template "PropertyFileLoginModule" }}
    {{- end }}
};

{{ define "JettyCachingLdapLoginModule" -}}
com.dtolabs.rundeck.jetty.jaas.{{.}} {{getv "/rundeck/jaas/ldap/flag" "required"}}
    debug="{{getv "/rundeck/jaas/ldap/debug" "true"}}"
    contextFactory="{{getv "/rundeck/jaas/ldap/contextfactory" "com.sun.jndi.ldap.LdapCtxFactory"}}"
    providerUrl="{{getv "/rundeck/jaas/ldap/providerurl"}}"
    bindDn="{{getv "/rundeck/jaas/ldap/binddn"}}"
    bindPassword="{{getv "/rundeck/jaas/ldap/bindpassword"}}"
    authenticationMethod="{{getv "/rundeck/jaas/ldap/authenticationmode" "simple"}}"
    forceBindingLogin="{{getv "/rundeck/jaas/ldap/forcebindinglogin" "true"}}"
    forceBindingLoginUseRootContextForRoles="{{getv "/rundeck/jaas/ldap/forcebindingloginuserootcontextforroles" "true"}}"
    userBaseDn="{{getv "/rundeck/jaas/ldap/userbasedn"}}"
    userRdnAttribute="{{getv "/rundeck/jaas/ldap/userrdnattribute" "cn"}}"
    userIdAttribute="{{getv "/rundeck/jaas/ldap/useridattribute" "cn"}}"
    userPasswordAttribute="{{getv "/rundeck/jaas/ldap/userpasswordattribute" "userPassword"}}"
    userObjectClass="{{getv "/rundeck/jaas/ldap/userobjectclass" "person"}}"
    roleBaseDn="{{getv "/rundeck/jaas/ldap/rolebasedn"}}"
    roleNameAttribute="{{getv "/rundeck/jaas/ldap/rolenameattribute" "cn"}}"
    roleMemberAttribute="{{getv "/rundeck/jaas/ldap/rolememberattribute" "uniqueMember"}}"
    roleObjectClass="{{getv "/rundeck/jaas/ldap/roleobjectclass" "groupOfUniqueNames"}}"
    cacheDurationMillis="{{getv "/rundeck/jaas/ldap/cachedurationmillis" "600000"}}"
    reportStatistics="{{getv "/rundeck/jaas/ldap/reportstatistics" "true"}}"
    {{- if exists "/rundeck/jaas/ldap/ignoreRoles"}}
        ignoreRoles={{getv "/rundeck/jaas/ldap/ignoreRoles"}}
    {{end}}
    {{- if exists "/rundeck/jaas/ldap/storePass"}}
        storePass={{getv "/rundeck/jaas/ldap/storePass"}}
    {{end}}
    {{- if exists "/rundeck/jaas/ldap/clearPass"}}
        clearPass={{getv "/rundeck/jaas/ldap/clearPass"}}
    {{end}}
    {{- if exists "/rundeck/jaas/ldap/useFirstPass"}}
        useFirstPass={{getv "/rundeck/jaas/ldap/clearPass"}}
    {{end}}
    {{- if exists "/rundeck/jaas/ldap/tryFirstPass"}}
        tryFirstPass={{getv "/rundeck/jaas/ldap/tryFirstPass"}}
    {{end}}
    ;
{{- end -}}

{{ define "PropertyFileLoginModule" -}}
    org.eclipse.jetty.jaas.spi.PropertyFileLoginModule {{ getv "rundeck/jaas/file/required" "required" }}
        debug="true"
        file="/home/rundeck/server/config/realm.properties";
{{- end -}}
