## ------------------------------------------------------------------
## Generate the xdocs
## ------------------------------------------------------------------

#set ($dir = $generator.templatePath)
#set ($xdocs = $files.file($dir).list())

#foreach ($xdoc in $xdocs)
  #if ($xdoc.endsWith(".xml"))
Generating --> $xdoc 
$generator.parse($xdoc, $xdoc)
  #end
#end
