
body {
    background-color:#aaa;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:100%;
    margin:0; 
    padding:0;
    border:0;
    padding: 20px;
}
#docbody{
    margin: 0 auto;
    background:white;
    padding:10px 20px;
    width: 700px;
}

h1 {
    border-bottom:0.5em solid red;
    font-size:	2.18em;
    letter-spacing:-0.01em;
    margin:0 0 0.67em 0;
}			

h2 {
    font-size: 1.45em;
    letter-spacing:-0.02em;
}

a:link {
    color:#444;
    font-weight:bold;
}

a:visited {
    color: #444;
}

a:hover {
    text-decoration:  none;
    color:       #FFFFFF;
    background-color:  red;
}
h1 a{
    text-decoration:none;
    color:black;
}

ul {
  margin: 10px 0px;
}

ol {
  margin: 10px 0px;
}

ol li, ul li{
    margin: 10px 0px;
}

pre {
    font-family: courier,monspace;
    margin: 10px;
    overflow:auto;
    max-width:700px;
    color: black;
    border:1px solid #ddd;
    border-width: 5px 2px 2px 5px;
    background: #eee;
    padding: 10px;
}

pre.xml {
   /* xml syntax highlight here*/
}  

pre.bash {
   /* bash syntax highlight here*/
}  

span.header-section-number:after{
    content:" - ";
}

span.toc-section-number:after{
    content:" - ";
}