body {
    background-color: #aaa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    border: 0;
    margin: 0;
    
    line-height: 1.5;
}

#docbody {
    background: white;
    width: 700px;
    clear: both;
    margin: 0 auto 0 286px;
    padding: 10px 20px 20px;
}

h1.title {
    font-size: 2.18em;
    letter-spacing: -.01em;
    margin: 0 0 .67em;
}
h1.brand{
  font-size: 19px !IMPORTANT;
  font-family: 'Futura';
  text-transform: uppercase;
  background-image: url("./figures/rundeck2-icon-32.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 18px;
}

#TOC {
    padding-top: .5em;
    padding-bottom: .5em;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    position: fixed;
    left: 10px;
    top: 90px;
    bottom: 10px;
    overflow-y: auto;
    background: white;
    padding:.5em .5em 20px .5em;
    width: 250px;
}

#TOC a {
    color: #666;
}

h2 {
    font-size: 1.45em;
    letter-spacing: -.02em;
}

a {
    color: #444;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    text-decoration: none;
    color: black;
}

pre {
    font-family: courier,monspace;
    overflow: auto;
    max-width: 700px;
    color: black;
    border: 1px solid #ddd;
    background: #eee;
    border-width: 2px 2px 2px 4px;
    margin: 10px;
    padding: 10px;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

td {
    padding: 2px 4px;
}

tr.odd {
    background: #eee;
}

p.caption {
    font-size: .7em;
    text-align: left;
}

nav.page {
    background: white;
    width: 740px;
    clear: both;
    margin: 0 auto 0 286px;
    padding: 0;
}

nav.page.bottom {
    font-size: 80%;
}

nav.page a {
    color: #aaa;
}

nav.page ul {
    display: table;
    width: 100%;
    list-style-type: none;
    height: 3em;
    margin: 0;
    padding: 0;
}

nav.page ul li {
    display: table-cell;
    width: 33%;
    vertical-align: middle;
    margin: 0;
}

nav.page.bottom ul li {
    border-top: 1px solid #ccc;
}

nav.page ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

nav.page ul li.prev a:before {
    content: "\2190 " " ";
}

nav.page ul li.next a {
    color: black;
}

nav.page ul li.next {
    text-align: right;
}

nav.page ul li.next a:before {
    content: "\2192 " " ";
}

footer,nav.breadcrumb {
    background: #ccc;
    width: 700px;
    clear: both;
    font-size: 90%;
    color: #aaa;
    margin: 0 auto 0 286px;
    padding: 10px 20px;
}

nav.breadcrumb {
    background: black;
    font-size: 125%;
    color: #555;
}

nav.breadcrumb a,nav.breadcrumb a:visited,nav.breadcrumb a:link {
    color: red;
}

nav.breadcrumb a:hover {
    background: none;
}

nav.breadcrumb ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.breadcrumb ul li {
    display: inline;
}

nav.breadcrumb ul li + li:before {
    content: ">" " ";
}

ul,ol,ol li,ul li {
    margin: 10px 0;
}

span.header-section-number:after,span.toc-section-number:after {
    content: " - ";
}

nav.page ul li.current,nav.breadcrumb.bottom {
    display: none;
}

footer a,footer a:visited,footer a:link,nav.breadcrumb a {
    color: #aaa;
}

/* from site nav.css */

div.rundecksite nav {
  
  background: #2c2c2c;
}

div.rundecksite nav img {
  position: absolute;
  top: 3px;
  left: 3px;
}

div.rundecksite nav ul {
  margin: 0px auto;
  /*width: 980px; */
}

div.rundecksite nav li {
  float: left;
  line-height: 1.2;
  list-style-type: none;
  height: 60px;
  /*margin: 0px 0px 0px 0px;*/
  /*width: 220px;*/
  text-align: left;
  padding-top: 10px;
}

div.rundecksite nav li:hover {
  background: rgb(0,0,0);
}

div.rundecksite nav li a:visited {
}

div.rundecksite nav li a:hover {
  color: red;
  text-decoration:none;
}

div.rundecksite nav li a {
  text-decoration:none;
  color: white;
  display:block;
  padding: 5px 10px;
}

div.rundecksite nav li h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

div.rundecksite nav li p {
  font-size: 12px;
}

div.rundecksite nav li.selected a h1{
    color:red;
}
div.rundecksite nav li.selected a{
    color:white;
}
div.rundecksite nav li.selected{
    background: rgb(0,0,0);
}

/* search box */
.searchbox {
  margin: 10px 0 10px 0;
  text-align: right;
}

/**
 *
 *  extended nav.css
 * 
 */

div.rundecksite p{
    margin:0;
    padding:0;
}
div.rundecksite h1{
    margin:0;
}
div.rundecksite a{
    font-weight: normal;
}

div.rundecksite nav ul{
    padding: 0;
}
div.rundecksite nav ul li{
    margin-top: 0;
    margin-bottom: 0;
    /*margin: 0 ;*/
}
div.rundecksite nav ul li.alpha{
    /*margin-left:0;*/
}
div.rundecksite nav ul li.omega{
    /*margin-right:0;*/
}

div.rundecksite{
    margin-bottom: 20px;
}
div.rundecksite a[href*='://'] {
    background:  none;
    padding-right: 0;
}

div.rundecksite a[href*='://']:hover {
    background: none;
    padding-right: 0;
}

/* 960 gs */
body{min-width:960px}.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15{position:relative}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.container_12 .push_3,.container_16 .push_4{left:240px}.container_12 .push_6,.container_16 .push_8{left:480px}.container_12 .push_9,.container_16 .push_12{left:720px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_16 .push_1{left:60px}.container_16 .push_2{left:120px}.container_16 .push_3{left:180px}.container_16 .push_5{left:300px}.container_16 .push_6{left:360px}.container_16 .push_7{left:420px}.container_16 .push_9{left:540px}.container_16 .push_10{left:600px}.container_16 .push_11{left:660px}.container_16 .push_13{left:780px}.container_16 .push_14{left:840px}.container_16 .push_15{left:900px}.container_12 .pull_3,.container_16 .pull_4{left:-240px}.container_12 .pull_6,.container_16 .pull_8{left:-480px}.container_12 .pull_9,.container_16 .pull_12{left:-720px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_4{left:-320px}.container_12 .pull_5{left:-400px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.container_16 .pull_1{left:-60px}.container_16 .pull_2{left:-120px}.container_16 .pull_3{left:-180px}.container_16 .pull_5{left:-300px}.container_16 .pull_6{left:-360px}.container_16 .pull_7{left:-420px}.container_16 .pull_9{left:-540px}.container_16 .pull_10{left:-600px}.container_16 .pull_11{left:-660px}.container_16 .pull_13{left:-780px}.container_16 .pull_14{left:-840px}.container_16 .pull_15{left:-900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}