@import "../runstrap/variables";

.radio{
  .help-block{
    margin-left:10px;
  }
}

//style text like a form label
.text-form-label {
    margin-bottom: 5px;
    font-weight: bold;
}

@media (min-width: $screen-md-min){
  .form-horizontal{
    .form-control-static{
      padding-top: 12px !important;
    }
  }
}
