<!DOCTYPE html>
<html>
<head>
  <title>$if(title-prefix)$$title-prefix$ - $endif$$if(pagetitle)$$pagetitle$$endif$</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="generator" content="pandoc" />
$for(author)$
  <meta name="author" content="$author$" />
$endfor$
$if(date)$
  <meta name="date" content="$date$" />
$endif$
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
jQuery(function(){ jQuery('table').addClass('table table-condensed table-responsive'); });
</script>
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css" />
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body data-spy="scroll" data-target=".toc-nav">
$for(include-before)$
$include-before$
$endfor$
<div class="container">
<div class="row">
$if(toc)$
<div class="col-sm-3 toc-nav">
<div class="nav">
$toc$
</div>
</div>
$endif$
<div class="col-sm-9">
$if(title)$
<div class="page-header">
<h1 class="title">$title$</h1>
</div>
$endif$
$body$
</div>
</div>
</div>
$for(include-after)$
$include-after$
$endfor$
</body>
</html>
