
<div class="container $navclass$">
<div class="row">
<div class="col-sm-9 col-sm-offset-3">
    <ul class="pager">
      $if(prevpage)$<li class="previous"><a href="$prevpagelink$"><i class="glyphicon glyphicon-arrow-left"></i> $prevpage$</a></li>$endif$
      $if(nextpage)$<li class="next"><a href="$nextpagelink$">$nextpage$ <i class="glyphicon glyphicon-arrow-right"></i></a></li>$endif$
    </ul>
</div>
</div>
</div>
