.p-message {
    border-radius: 0;
    border-width: 0 0 0 6px;
    border-style: solid;
    color: var(--colors-gray-800);

    .p-message-text {
        display: flex;
        align-items: center;
        font-weight: var(--fontWeights-bold);
        flex-grow: 1;
    }

    .p-message-subtitle {
        font-weight: var(--fontWeights-normal);
    }

    .p-message-icon,
    .p-message-close {
        color: var(--colors-gray-800);
    }

    &-success {
        background: var(--colors-green-100);
        border-color: var(--colors-green-600);

        .p-message-close:focus-visible {
            box-shadow: 0 0 0 0.2rem var(--colors-green-600)
        }
    }

    &-info {
        background: var(--colors-blue-100);
        border-color: var(--colors-blue-600);

        .p-message-close:focus-visible {
            box-shadow: 0 0 0 0.2rem var(--colors-blue-600)
        }
    }

    &-warn {
        background: var(--colors-orange-100);
        border-color: var(--colors-orange-600);

        .p-message-close:focus-visible {
            box-shadow: 0 0 0 0.2rem var(--colors-orange-600)
        }
    }

    &-error {
        background: var(--colors-red-100);
        border-color: var(--colors-red-600);

        .p-message-close:focus-visible {
            box-shadow: 0 0 0 0.2rem var(--colors-red-600)
        }
    }
}
