.p-message {
    background: var(--colors-);
    &--info {
        background: var(--colors-);
    }

    &--warning {
        background: var(--colors-);
    }

    &--danger {
        background: var(--colors-);
    }
}