.no-border-on-first-tr{
  tr:first-of-type{
    td{
      // border-top:none;
    }
  }
}

// TABS
.vue-tabs {
  .nav-tabs-navigation,
  .tab-content{
    text-align: left;
  }
}

th.table-header, td.table-header, .text-table-header {
  text-transform: uppercase;
  color: $dark-gray;
  padding: .5em;
}

@import "table-events";
