.p-tooltip {
  &-text {
    background: var(--colors-gray-800);
    color: var(--colors-white);
  }
  &-right .p-tooltip-arrow {
    border-right-color: var(--colors-gray-800);
  }

  &-left .p-tooltip-arrow {
    border-left-color: var(--colors-gray-800);
  }

  &-top .p-tooltip-arrow {
    border-top-color: var(--colors-gray-800);
  }

  &-bottom .p-tooltip-arrow {
    border-bottom-color: var(--colors-gray-800);
  }
}
