.p-tabview {
    .p-tabview-nav {
        li {
            .p-tabview-nav-link:not(.p-disabled) {
                color: var(--colors-gray-500);

                &:focus-visible {
                    box-shadow: inset 0 0 0 0.1rem var(--colors-gray-800);
                }
            }

            &:not(.p-highlight):not(.p-disabled):hover {
                .p-tabview-nav-link {
                    color: var(--colors-gray-800);
                    border-color: var(--colors-gray-500);
                }
            }

            &.p-highlight {
                .p-tabview-nav-link {
                    color: var(--colors-blue-500);
                    border-color: var(--colors-blue-500);
                }
            }
        }
    }

    &-nav-btn {
        &.p-link:focus-visible {
            box-shadow: inset 0 0 0 0.1rem var(--colors-gray-800);
        }
    }
}
