<XDtClass:forAllClasses>
  <XDtClass:ifHasClassTag tagName="ant.task" paramName="name">
     <XDtClass:classTagValue tagName="ant.task"
			     paramName="name"/>=<XDtClass:fullClassName/>
  </XDtClass:ifHasClassTag>
</XDtClass:forAllClasses>
