span.ui-helper-hidden-accessible {
	display: none;
}

ul.ui-autocomplete {
	background-color: whitesmoke;
}

ui-state-focus, .ui-state-active {
	background-color: lightblue;
}

li.ui-menu-item {
	list-style: none;
}
