.rdicon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.rdicon.icon-small {
  width: 16px;
  height: 16px;
}
.rdicon.icon-small.command,
.rdicon.icon-small.shell {
  background-image: url("icon-small-shell.png");
}
.rdicon.icon-small.script {
  background-image: url("icon-small-script.png");
}
.rdicon.icon-small.scriptfile,
.rdicon.icon-small.scripturl {
  background-image: url("icon-small-scriptfile.png");
}
.rdicon.icon-small.plugin {
  background-image: url("icon-small-plugin.png");
}
.rdicon.icon-small.node {
  height: 10px;
  background-image: url("icon-small-Node.png");
}
.rdicon.icon-small.node.node-runnable {
  background-image: url("icon-small-Node-run.png");
}
.rdicon.icon {
  width: 32px;
  height: 32px;
}
.rdicon.icon.command,
.rdicon.icon.shell {
  background-image: url("icon-shell.png");
}
.rdicon.icon.script {
  background-image: url("icon-script.png");
}
.rdicon.icon.scriptfile {
  background-image: url("icon-scriptfile.png");
}
.rdicon.icon-med {
  width: 24px;
  height: 24px;
}
.rdicon.icon-med.command,
.rdicon.icon-med.shell {
  background-image: url("icon-med-shell.png");
}
.rdicon.icon-med.script {
  background-image: url("icon-med-script.png");
}
.rdicon.icon-med.scriptfile {
  background-image: url("icon-med-scriptfile.png");
}
.rdicon.app-logo.middle {
  vertical-align: middle;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .rdicon.icon-small {
    background-size: 16px 16px;
  }
  .rdicon.icon-small.node {
    background-size: 16px 10px;
    background-image: url("icon-small-Node@2x.png");
  }
  .rdicon.icon-small.node.node-runnable {
    background-image: url("icon-small-Node-run@2x.png");
  }
  .rdicon.icon-small.command,
  .rdicon.icon-small.shell {
    background-image: url("icon-small-shell@2x.png");
  }
  .rdicon.icon-small.script {
    background-image: url("icon-small-script@2x.png");
  }
  .rdicon.icon-small.scriptfile {
    background-image: url("icon-small-scriptfile@2x.png");
  }
  .rdicon.icon-small.plugin {
    background-image: url("icon-small-plugin@2x.png");
  }
  .rdicon.icon {
    background-size: 32px 32px;
  }
  .rdicon.icon.command,
  .rdicon.icon.shell {
    background-image: url("icon-shell@2x.png");
  }
  .rdicon.icon.script {
    background-image: url("icon-script@2x.png");
  }
  .rdicon.icon.scriptfile {
    background-image: url("icon-scriptfile@2x.png");
  }
  .rdicon.icon-med {
    background-size: 24px 24px;
  }
  .rdicon.icon-med.command,
  .rdicon.icon-med.shell {
    background-image: url("icon-med-shell@2x.png");
  }
  .rdicon.icon-med.script {
    background-image: url("icon-med-script@2x.png");
  }
  .rdicon.icon-med.scriptfile {
    background-image: url("icon-med-scriptfile@2x.png");
  }
}
