

.outputButtons a.tab, .outputButtons span.tab {
    padding: 3px 5px;
    border-radius: 3px 3px 0 0;
    font-weight: normal;
    border-bottom: 0;
    background: #eee;
    color: #888;
    cursor: pointer;
}

div.pageMessage {
    margin: 20px;
    padding: 10px;
    font-style: normal;
    border: 2px solid #ddd;
    background: #f0f0f0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

div.pageMessage.error {
    color: #F55;
    border: 2px solid #fdd;
}

.welcomeMessage {
    font-size: 12pt;
}

.spinner {
    padding: 5px;
}

.spinner.block {
    display: block;
    position: relative;
}

/* list of messages */
#listPane tr:hover, #listPane td:hover {
    background: gray;
    cursor: pointer;
}

#listPane tr, #listPane td {
    cursor: pointer;
}

tr.header {
    background-color: #274383;
    color: white;
    font-weight: bold;
}


.buttonbar {
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    padding: 5px;
    margin: 0;
    clear: both;
}


div.buttonholder, td.buttonholder, span.buttonholder {
    padding: 5px;
}


.objdesc {
    color: #777;
}

.cmddescription {
    font-style: italic;
    color: #777;
    text-shadow: none;
}

.argString, .commandline {
    font-family: Courier, monospace;
}

.optheader {
    margin: 5px 0;
}

.optheader .header {
    color: #888;
    text-decoration: underline;
}

.optname {
    font-family: Courier, monospace;
}

.optname.required {
    font-weight: bold;
}

.optionvaluemulti-add {
    padding: 6px;
}
.optionvaluemulti label {
    padding: 6px;
    margin:0;
    display: block;
    font-weight: normal;
}

.optionvaluemulti label:hover {
    background: #e3edfa;
    cursor: pointer;
}

.optionvaluemulti span.action {
    display: block;
    margin: 4px;
}

.optionvaluemulti div.varinput {
    margin: 4px;
}

.optionmultiarea {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 11em;
    border: 1px solid #ddd;
}

.enforceSet {
    text-align: center;
}

.enforceSet span.regex {
    border-bottom: 1px dotted #888;
    color: #555;
}

.enforceSet span.enforced {
    font-weight: bold;
    color: #555;
}

.enforceSet span.any {
    font-style: italic;
    color: #888;
}

.valuesSet {
    text-align: center;
}

.valuesSet span.valueslist {
    color: #555;
    border-bottom: 1px dotted #888;
}

.valuesSet span.valuesUrl {
    color: blue;
}

span.reqwarning {
    font-style: italic;
    color: orange;
}



#loginpage label {
    text-decoration: none;
}

.dialog {
    padding: 15px;
    background-color: #F0F0F0;

}

.dialog label {
    width: 120px;
    font-weight: bold;
}

.dialog .textfield {
    width: 180px;
    margin-bottom: 5px;
}

.prop {
    padding: 5px;
}

table.jobsList span.inlinebuttons {
    display: inline;
    margin: 0;
    vertical-align: middle;
}

span.inlinebuttons .floatr, span.inlinebuttons .floatl {
    float: none;
}

span.inlinebuttons a.button, span.inlinebuttons span.button {
    padding: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;

}

div .errors {
    color: red;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.message {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message.error {
    color: red;
    padding: 5px;
    font-style: normal;
    color: #F55;
    border: 1px solid #fdd;
    background: #f0f0f0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.title.error {
    font-weight: bold;
    color: red;
}

.prop .name {
    font-weight: bold;
    text-align: left;
    width: 20%;
}

.prop .value {
    text-align: left;
    width: 80%;
}

#footer {
    color: #888;
    font-size: 9px;
    clear: both;
    line-height: 200%;
}

span.wblink {
    margin-right: 30px;
}

span.wblink a {
    color: #66f;
    padding: 3px 6px;
}

span.wblink a:hover {
    color: white;
    background: #66f;
    border: 1px solid #66f;
    padding: 2px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

td.selected {
    background-color: #bbb;
    color: white;
    border: 1px solid #999;
    font-weight: bold;
}

td.deselected, .deselected {
    color: #777;
}

span.desc {
    color: #aaa;
}


.note {

    font-style: italic;
    color: #999;
}

div.pageBody.form {
    margin: 10px 20px;
    border: 1px solid #aaa;

    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.pageBody.frame {
    padding: 0;
}

table.moduledata th, table.moduledata td.sectionname {
    text-align: center;
    font-weight: normal;
    padding: 4px 1em;
    color: #bbb;
    border-top: 1px solid #ccc;
    vertical-align: top;
}

table.moduledata {
    border: 0;
}

table.moduledata td {
    padding: 4px;
}

table.moduledata td.fieldName {
    text-align: right;
    vertical-align: top;
    background: #efefef;
    padding: 3px;
    width: 30%;
    font-weight: normal;
}

table.moduledata td.fieldName + td {
    border-bottom: 2px solid #eee;
}

div.datasection {
    border: 1px solid #aaa;
    border-width: 0 0 1px 0;
}

table.data {
    width: 100%;
}

* html div.tableContainer {
    /* IE only hack */
    width: 95%;
    border: 1px solid #ccc;
    height: 285px;
    overflow-x: hidden;
    overflow-y: auto;
}

table td,
table th {
    text-align: left;
    padding: 2px;
    font-weight: normal;
}

table thead td, table thead th {
    border: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
}

html>body tbody.scrollContent, html>body tbody.listContent {
    overflow-x: hidden;
    overflow-y: auto;
}

.scrollContent {
    overflow-x: hidden;
    overflow-y: auto;
}

tbody.scrollContent td, tbody.scrollContent tr td, tbody.listContent td, tbody.listContent tr td {
    padding: 2px;
    vertical-align: top;
}

/* form field */

.fieldError {
    color: red;
}

.required {
    font-weight: bold;
}

.smlabel.fieldError {
    background: none;
    color: red;
}

table.simpleForm > tr > td:first-child, table.simpleForm > tbody > tr > td:first-child, table.simpleForm td.displabel {
    text-align: right;
    padding: 5px 10px 5px 5px;
    vertical-align: top;
    color: #555;
}

table.simpleForm > tr > td:first-child.action, table.simpleForm > tbody > tr > td:first-child.action, table.simpleForm td.displabel.action {
    color: blue;
}

table.simpleForm > tr > td.fieldError, table.simpleForm > tbody > tr > td.fieldError {
    color: red;
}

table.simpleForm > tr > td+td, table.simpleForm > tbody > tr > td+td {
    padding: 5px;
    vertical-align: top;
}

table.simpleForm tbody.filtergroup td.grouplabel {
    text-align: center;
    font-style: italic;
    border-top: 1px solid #aaa;
}

span.filter.error {
    color: red;
}

/* job edit form page */
tbody.subfields {
    background: #eee;
}

div.formRemoteList {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #bbb;
}

div.formRemoteList tr.object_entry td.objIdent {
    /*font-size:10pt;*/
}

div.formRemoteList tr.command_entry td.cmdname {
    /*font-size:10pt;*/
}

div.formRemoteList tr.object_entry.unauthorized {
    color: #f00;
}

div.formRemoteList tr.module_entry td {
    border-top: 1px solid #aaa;
}

div.formRemoteList tr.module_entry td.objIdent {
    /*font-size:10pt;*/
}


.optDefault {
    font-family: courier, monospace;
    color: #999;
}

div.optslist {
}

span.optgroup {
    white-space: nowrap;
}

span.optgroup.secure {
    text-decoration: underline;
}

.singlelabel {
    font-family: courier, monospace;
    background: #ddd;
    padding: 3px;
}

.singlevalue {
    font-family: courier, monospace;
    color: #999;
}

div.progressContainer {
    width: 409px;
    background: #eee;
    height: 16px;
    border: 1px solid #aaa;
    position: relative;
}

div.progressContainer.small {
    width: 109px;
}

div.progressContainer.small div.progressBar {
    font-size: 9px;
    line-height: 9px;
    padding: 1px 5px 1px 4px;
}

div.progressContainer.indefinite {
    background: #eee;
    border: 1px solid #ccc;
}

div.progressBar {
    width: 0px;
    background: #bbb;
    height: 14px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    padding: 1px 3px 1px 6px;
    border-right: 1px solid #aaa;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

div.progressContainer.indefinite div.progressBar {
    background: none;
    width: 100%;
    height: 12px;
    color: #555;
    text-shadow: 1px 1px 1px #fff;
    font-size: 9px;
    line-height: 9px;
    padding: 1px 3px;
    border: 0;
}

div.progressContainer.nodes {
    border: 0;
}

div.progressBar.nodes {
    background: #ccf;
    border-right: 2px solid #aaf;
}

div.progressBar.nodes.failure {
    background: #fcc;
    border-right: 2px solid #faa;
}

div.progressBar.full, div.progressBar.full.nodes {
}

div.progressBar.empty, div.progressBar.empty.failure {
    background: none;
    border-right: 0;
}

div.progressContainer.empty.nodes {
    border-right: 0;
}

div.progressContainer div.progressContent {
    padding-top: 2px;
    padding-left: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

/* END execution output table */

/* execution listing */
table.executionList td {
    white-space: nowrap;
}

table.executionInfo td {
    /*font-size:7pt;*/
}

table.executionInfo tr > td:first-child {
    text-align: right;
    color: gray;
    white-space: nowrap;
}

table.executionInfo tr > td+td {
    text-align: left;
}

table.executionList td.fail, table.executionInfo td.fail {
    color: red;
}

table.executionList td.succeed, table.executionInfo td.succeed {
    color: green;
}

table.executionList td.duration, table.executionInfo td.duration {
}

table.executionList td.dateCompleted, table.executionInfo td.dateCompleted {
    padding-left: 5px;
}

table.executionList td.dateStarted, table.executionInfo td.dateStarted {
    padding-left: 5px;
}

table.executionList td.dateCompletedlabel, table.executionInfo td.dateCompletedlabel, span.dateCompletedlabel, table.jobsList td.dateCompletedlabel {
    text-align: right;
    padding-left: 5px;
}

span.timelabel {
    color: #888;

}


/* END execution listing */

/* Jobs table */
table.jobsList {

}

table.jobsList td {
    text-align: left;
}

table.jobsList tr.nowrunning td, table.jobsList tr.nowrunning td.eventtitle.adhoc {
    background: #ffe;
}

table.jobsList tr.nowrunning.hilite:hover td {
    background: #e3edfa;
}

table.jobsList td.extended {

}

table.jobsList td.jobDetail {

}

table.jobsList td.jobDetail > div span.prompt {
    font-weight: normal;
    /*font-size:11px;*/
    color: #aaa;
    font-style: italic;
}

table.jobsList td.jobDetail > div {

}

table.jobsList td.jobname {
    /*width: 495px;*/
}

table.jobsList.small td.jobname {
    width: auto;
}

table.jobsList.small {
    width: 100%;
}

table.jobsList td.jobname.transient {
    color: #888;
    font-weight: normal;
    font-style: italic;
}


table.jobsList td.jobbuttons div.buttons {
    margin: 0 0 4px 0;
}


table.executionList {
    border: 1px solid #e0e0e0;

}

table.jobsList td.jobDetail table.executionList {
    width: 100%;
}

table.executionList caption {
    font-weight: normal;

    color: #aaa;
    text-align: left;
}

table.executionList td {

    padding: 3px;
}

table.jobsList td {
    vertical-align: baseline;
}

table.jobsList td.eventtitle {
    max-width: 400px;
    white-space: nowrap;
    text-overflow: clip;
    overflow-x: hidden;
}

table.jobsList td.eventsummary {
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table.jobsList td.date {
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.buttons span.group {
    white-space: nowrap;
}

div.jobslist {
    margin: 0 0px 5px 0;

}

div.jobslist.small {
    margin: 0 0px 5px 0;
    width: auto;
}

table.jobsList td.outputlink {
    padding: 0px;
    white-space: nowrap;
    text-align: right;
    width: 50px;
}

table.jobsList td.outputlink a {
    display: block;
    padding: 10px;
    white-space: nowrap;
}

span.grouplabel a {
    font-weight: normal;
}

span.grouplabel a:hover {
    color: blue;
    text-decoration: underline;
}

tr.execution td.espinner {
    width: 12px;
}

tr.execution.succeeded td.jobname, tr.execution.succeeded td.jobname a {
    color: green;
}

tr.execution.succeeded td.outputlink, tr.execution.succeeded td.outputlink a {
    /*color:green;*/
}

tr.execution.failed td.jobname, tr.execution.killed td.jobname {
    color: red;
}

tr.execution.failed td.jobname a, tr.execution.killed td.jobname a {
    color: red;
}

tr.execution.failed td.outputlink, tr.execution.killed td.outputlink {
    color: red;
}

tr.execution.failed td.outputlink a, tr.execution.killed td.outputlink a {
    color: red;
}

.scriptContent {
    font-family: courier, monospace;
    max-width: 500px;
    white-space: nowrap;
    max-height: 300px;
    overflow: hidden;
}

.scriptContent.expanded {
    max-width: none;
    max-height: none;
    overflow: auto;
    white-space: pre;
}

/** bubble popup */
a.glow, span.glow {
    background: #cfc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.bubblewrap {
    position: absolute;
}

.bubblecontent {
    position: relative;
    border: 1px solid #aaa;
    background: white;
    padding: 10px;
    margin-top: 14px;
    z-index: -1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: #aaa 2px 2px 7px;
    -webkit-box-shadow: #aaa 2px 2px 7px;
}

.bubblecontent:before, .bubblecontent:after {
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-width: 0 10px 16px 10px;
    height: 0;
    width: 0;
    content: '';
    top: -16px;
    left: 10px;
}

.bubblecontent:before {
    border-bottom-color: #aaa;
    left: 10px;
}

.bubblecontent:after {
    border-bottom-color: #fff;
    left: 10px;
    top: -14px;
}

/* job edit form page */
tbody.section > tr:first-child > td {
    border-top: 1px solid #ccc;
}

/* END Jobs table */

tr.hilite:hover, td.hilite:hover {
    background: #e3edfa;
}

tr.link, td.link {
    cursor: pointer;
}



span.dragHandle {
    cursor: move;
}

.note.empty {
    display: block;
    padding: 10px;
}

.note.help {
    display: block;
    max-width: 500px;
    margin: 5px;
    padding: 10px;
    font-style: normal;
    color: #555;
    border: 1px solid #ddf;
    background: #f0f0f0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.note.error {
    display: block;

    max-width: 500px;
    margin: 5px;
    padding: 10px;
    font-style: normal;
    color: #F55;
    border: 1px solid #fdd;
    background: #f0f0f0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

.note.warn {

    font-style: normal;
    color: #F55;
}

.note.message {
    font-style: normal;
    color: #55F;

}

.has_help {
    border-bottom: 1px dotted blue;
}

.aster {
    font-weight: bold;
    color: #ff4444;
}

.confirmMessage {
    color: red;
}

.confirmbox {
    position: absolute;
    background: white;
    border: 1px solid #aaa;
    padding: 5px;
    width: 250px;
}

/** sidebar list */
.sideList table {
    width: 100%;
}

.sideList td {
    padding: 3px 4px 3px 4px;
}

.sideList {
    float: left;
    margin-right: 10px;
    overflow-x: hidden;
}

/* used on project selecct page */
.sideList.projectList {
    min-height: 400px;
    margin-right: 40px;
}

.sideList.projectList td {
    /*font-size: 12pt;*/
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

}

.sideList tr.alternateRow td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.sideList tr.alternateRow td.selected {
    border: 1px solid #999;
}

.sideList .header {
    padding: 4px;
    font-weight: bold;
    text-align: center;
    color: #888;
    border-bottom: 2px solid #bbb;

}



div.actiontitle {
    font-weight: normal;
    text-align: left;
}

div.login div.message {
    padding: 20px;
    border: 0;
    margin: 0;
}

div.login div.message span.error {
    color: #f00;
    font-weight: bold;
}

/* utility styles */

.checklist {
    padding: 4px;
}

.checklist div {
    margin-bottom: 4px;
}

.floatl {
    float: left;
}

.floatr {
    float: right;
}

.clear {
    clear: both;
}

.sepR {
    border-right: 1px solid #ddd;
    margin-right: 4px;
    padding-right: 4px;
}

.sepL {
    border-left: 1px solid #ddd;
    margin-left: 4px;
    padding-left: 4px;
}

.sepT {
    border-top: 1px solid #ddd;
    margin-top: 4px;
    padding-top: 4px;
}

.sepB {
    border-bottom: 1px solid #ddd;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.prompt {
    font-weight: bold;
}

table.queryTable .prompt label {
    color: black;
}

.prompt.action {
    text-decoration: underline;
}

.prompt.major {
    margin-bottom: 5px;
}

.prompt.section {
    display: block;
    margin: 5px 0;
    padding: 5px;
    font-size: 120%;
    border-top: 1px solid #ddd;
}

div.presentation {
    padding: 8px 16px 8px 16px;
}

.mainArea {

}

.timeuntil {
    color: green;
}

.timenow, a.timenow {
    color: green;
    font-weight: bold;
    font-style: italic;
}

.timeago {
    color: blue;
}

.timeabs {
    color: #555;
}

.timerel {
    color: #888;
}

/* crontab page */

.cronselected {
    font-weight: bold;
    color: #55a;

}

.crondeselected {
    color: #999;
    text-decoration: line-through;
}

.hidedeselected .crondeselected {
    display: none;
}

/* general page layout */

div.pageTop {
    padding: 10px;
    height: 32px;
}

div.pageTop.extra {
    padding: 10px;
    height: auto;
}

div.pageTop span.buttons {
    margin-left: 20px;
}

div.pageContainer > div.subTop {
    padding: 0;
}

div.pageSubtitle {
    /*font-size: 12pt;*/
    font-weight: bold;
    margin: 10px 0 0 10px;
}

div.pageSubtitle.subtitleAction {
    color: #444;
}



/* sortable column */
th.sortable a {
    display: block;
}

th.sortable a:hover {
    color: blue;
    text-decoration: underline;
}


div.eventspage div.jobsReport {
    margin: 10px 0;
}

div.eventspage div.queryresultsinfo {
    margin: 10px 0;
}

/* filter fields */

div.filter label {
    font-weight: normal;
    text-transform: capitalize;
}

div.filter label.additional {
    color: blue;
}

/* job display page */

div.jobHead {
}

div.jobHead .jobInfo {

    margin-bottom: 10px;
}

div.jobHead span.jobInfoPart {
}

div.jobHead .jobInfoSection {
}

div.jobHead td {
    vertical-align: top;
}

div.jobHead .jobInfoSection + .jobInfoSection {
    margin-top: 10px;
}

div.jobHead span.jobInfoPart span.partContent {
    margin-top: auto;
    margin-bottom: auto;
}

div.jobHead span.jobIcon {
    display: inline-block;
    width: 16px;
}

div.jobHead span.jobIcon +span {
    margin-left: 10px;
}

div.jobHead span.primary {
    font-size: 130%;
    font-weight: bold;
}

div.jobHead span.secondary {

}

div.jobHead span.secondary {
    font-size: 115%;
    /*display: inline-block;*/
    /*padding:5px;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 5px;*/
}

div.jobHead span.jobName.transient {
    color: #888;
    font-weight: normal;
    font-style: italic;
}

span.jobdesc {
    color: #555;
    font-style: italic;
}

div.jobHead span.jobdesc {
    display: block;
}

div.jobHead span.jobSummary {
    /*font-size: 14pt;*/
    margin: 5px 0 5px 32px;
    padding-left: 5px;
    display: block;
}

.executioncontrol a {
    white-space: nowrap;
}

span.jobcancel {
    margin: 5px;
}

span.jobfinal {
    padding: 10px;
    font-weight: bold;
    display: block;
}

div.commandFlowError {
    padding: 10px;
    margin: 0;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #F00;
}

.commandcontent {
    overflow-x: auto;
}

#schedExecPage > div.schedExecPagePart {
    margin: 15px 0;
}

.batchresset {
    border: 1px solid #ddd;
    margin: 0 0 10px 0;
    padding: 10px;
    background: #eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

span.tag, a.tag {
    padding: 0 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

span.tag.tagselected, a.tag.tagselected {
}

span.tag.rundeckserver, a.tag.rundeckserver {
    color: black;
    font-weight: bold;
    background: transparent;
    border: 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

ul.jobGroups {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.jobGroups.subdirs {
    padding-left: 20px;
}

ul.jobGroups li.sub {
    padding-left: 20px;
}

ul.jobGroups li span.textbtn, ul.jobGroups li a.textbtn {

}

ul.jobGroups li a.currentdir {
    font-weight: bold;
}

ul.jobGroups li a.alljobs {
    font-weight: bold;
    font-style: italic;
}

div.jobGroups.subjobs, div.expandComponent.sub_group {
    margin-left: 16px;
}

#groupChooser {
    padding: 10px;
    background: #eee;
    border: 1px solid #ddd;
}

.expandComponentHolder.expanded  > div > span.expandComponentControl.jobgroupexpand span.foldertoggle {
}

.expandComponentHolder > div > span.expandComponentControl.jobgroupexpand span.foldertoggle {
}

/** Process Flow view styles **/

div.pflowlist {
    padding: 10px 10px;
    border: 1px solid #ddd;
    width: auto;

}

div.pflowlist ol {
    margin: 0;
    padding-left: 0;
}

div.pflowlist.edit {
    width: 100%;
    margin-right: 10px;
}

div.pflowlist.edit ol.flowlist li {
    padding: 2px;
}

div.pflowlist.rounded.adhoc {
    border: 0;
    padding: 0;
    margin: 0;
}

div.adhoc ol.flowlist li {
    list-style: none;
}

div.pflow {
    float: left;
    width: 100%;
    padding: 2px;
    padding-left: 20px;
}

div.pflow.static {
    float: none;
    padding: 2px;
}

div.pflow.inactive {
    color: gray;
}

div.pflow.inactive a {
    color: gray;
}

div.pflow.running {
}

div.pflow.ok {
}

div.pflow.warn {
    color: red;
    cursor: pointer;
}

div.pflow.error {
    color: red;
    cursor: pointer;
}

div.pflow.missing {
    color: gray;
    font-style: italic;
}

div.pflow.missingfail {
    color: gray;
    font-style: italic;
}

div.pflow div.error_msg {
    padding: 5px;
    color: black;
    background: #eee;
}

div.pflow span.nodename {
    color: gray;
}

div.pflow span.item span.cmdname a {
    /*color:blue;*/
    font-weight: normal;
}

div.pflow span.item span.cmdname a:hover {
    text-decoration: underline;
}

div.pflow.inactive span.item span.cmdname a {
    color: gray;
}

div.pflow.missing span.item span.cmdname a {
    color: gray;
}

div.pflow.missingfail span.item span.cmdname a {
    color: gray;
}

div.pflow pre {
    margin: 0;
}

li.alternate {
    background: #f0f0f0;
}

span.typename {
    color: #333;
    font-style: italic;
}

span.typename a {
    color: #333;
}

span.cmdname {
    color: blue;
    font-weight: normal;
}

span.resname, span.resname a {
    color: black;
}

ul.wfhandleritem, ul.wfhandleritem li {
    margin: 0;
}

ul.wfhandleritem li span.wfitemcontrols {
    margin-right: 11px;
}

/**
  base report page
**/

tr.subsection {
    background: #ddd;

}

tr.subsection > td {
    padding: 0 0 4px;

}

tr.subsection.alternateRow > td {
    padding: 0 0 4px;

}

tr.subsection > td > div.solo {
    padding: 5px 5px 5px 15px;
}

tr.subsection > td > div.left {
    padding: 0;
}

tr.subsection > td > div.left > div.right {
    padding: 5px 15px 5px 15px;
}

tr.subsection > td > div.right {
    padding: 5px 15px 5px 15px;
}

tr.sectionhead.expanded td {
    border-top: 1px solid #aaa;
    padding-top: 3px;
}

tr.sectionhead td.eventtitle {
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
    max-width: 400px;
}

tr.sectionhead td.eventsummary {
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
}



tr.sectionhead td.eventmessage {
    overflow: hidden;
    white-space: nowrap;
}

tr.sectionhead td.statusmessage.fail {
    color: red;
}

tr.sectionhead td.statusmessage.succeed {
    color: green;
}

tr.sectionhead td.nodecount.fail {
    color: red;
    font-weight: bold;
    /*color:black;*/
    /*background: #fcc;*/
}

tr.sectionhead td.nodecount.ok {
    color: #555;
}

tr.subsection span.title {
    color: #888;
}

tr.subsection span.date {
    color: #888;
    padding: 0 5px;
}

tr.subsection span.date:before {
    content: "( ";
}

tr.subsection span.date:after {
    content: " )";
}

div.rptmessage {
    margin-top: 5px;
    padding: 0px 5px 5px 10px;
    overflow: auto;
    max-width: 800px;
}

div.msgtext, span.msgtext, td.msgtext {
    color: #555;
}

div.msgrow {
    height: 16px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

div.rptitem {
    margin: 5px 5px 5px 10px;
}

div.popout, span.popout {
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: #888 3px 3px 4px;
    -webkit-box-shadow: #aaa 2px 2px 7px;
}

div.rounded, span.rounded {
    padding: 5px;
    margin: 4px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.subform {
    padding: 5px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/**
 * Filter definition css
**/
div.filterdef {
    padding: 5px;
    margin: 4px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

div.filterdef div.inputline {
    margin: 4px 5px;
}

/** detail popup */
.detailpopup {
    background: white;
    border: 1px solid #aaa;
    padding: 5px;
    position: absolute;
    -moz-box-shadow: #888 3px 3px 4px;
    -webkit-box-shadow: #aaa 2px 2px 7px;
}


/** project set for node listing */
div.project_group, tr.project_group {
}

div.project_group a.project, tr.project_group a.project {
    color: blue;
    font-weight: normal;
}

tr.node_entry td, tr.object_entry td {
    vertical-align: top;
}

tr.node_entry.server span.node_ident, .node_entry.server.node_ident, .node_entry.server span.node_ident {
    /*text-shadow: 1px 1px 2px #faa;*/
    font-weight: bold;
    border: 0;
}



td.username {
    text-align: right;
}

td.username span.atsign {
    color: #888;
}

.entry_list {
    padding: 10px;
}

.entry_list .entry {
    display: block;
}

/** run/nodes page summary **/

div.nodesummary span.match {
    font-weight: bold;
}

div.nodesummary span.type {
    color: #888;
}


/** loading display */
.loading {
    font-weight: bold;
    color: #ccc;
}

/**
 * Widget box styles
*/
div.zbox {
    padding: 0 0 0 0;
    margin-top: 10px;
    clear: both;
}

table.dashboxes td.dashbox {
    text-align: left;
    vertical-align: top;
    width: 420px;
    padding: 10px;
}

table.dashboxes td.dashbox.wide {
    width: auto;
}

table.dashboxes div.boxctl {
    text-align: left;
    vertical-align: middle;
    height: 20px;
}

table.dashboxes td.dashbox.small {
    width: 300px;
}

td.dashbox div.wbox {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    width: 600px;
    height: 320px;
}

td.dashbox div.wbox table.list {
    width: 100%;
    table-layout: fixed;
}

td.dashbox.small div.wbox {
    width: 500px;
}

td.dashbox.small div.wbox table.list {
    width: 100%;
    table-layout: fixed;
}

.dashbox .loading {
    padding: 0 0 0 20px;
}

div.boxctl {
    border: 0;
    padding: 0;
}

div.boxct {
    border: 0;
    padding: 5px 0;
}

.boxctl span.btabs {
    margin-left: 10px;
    padding: 5px;
}

span.btabs span.btab {
    padding: 5px;
    border: 1px solid #aaa;
    color: #888;
}

span.btabs span.btab:hover {
    cursor: pointer;
}

span.btabs span.btab.selected {
    color: #000;
    text-shadow: #888 2px 2px 3px;
    font-weight: normal;
}

div.obox {
    clear: both;
    background: #efefef;
}

div.obox div.wbox {
    padding: 10px;
}

span.titlegroup {
    padding: 5px;
}

span.boxtitle {
    font-weight: bold;
    /*font-size:110%;*/
}

span.maxbtn {
    cursor: pointer;
}

.titlegroup.action:hover {
    background: #e3edfa;
}

div.boxctl.full {

}

td.dashbox div.boxctl:hover span.titlegroup {
    padding: 4px;
    border: 1px dashed #aaa;
    cursor: pointer;
}

.boxclose {
    float: right;
    padding: 5px;
    margin-top: -5px;
}

/**
User auth edit/view styles
*/
table.userauth {
    border-collapse: collapse;
}

table.userauth td.section {
    vertical-align: top;
    padding: 0px;
}

table.userauth tr {
    padding: 0;
    border: 0;
    margin: 0;
}

table.userauth td.section {
    border: 1px solid #ddd;
    padding: 0;
}

table.userauth td.section.admin {
    border: 1px solid #f00;

}

table.userauth td.section table {
    border: 0;
}

table.userauth td.section table td {
    padding: 3px;
}

table.userauth td.section table th {
    padding: 5px;
}

table.userauth tr.allowed td.accesslabel {

}

table.userauth tr.disallowed td.accesslabel {
    text-decoration: line-through;
    color: #888;
}

.authItem.enabled {
    /*background: #cfc;*/
}

.authItem.disabled {
    /*background: #ccc;*/
}

.authItem.changed {
    background: #FFA;
}

table.userlist .userlogin {
    font-weight: bold;
}

table.userlist .username {
    color: #888;
}

/** workflows page */

div.jobstats table td {
    font-size: 0.9em;
}

div.jobstats .statlabel {
    color: gray;
    text-align: right;
    white-space: nowrap;
}

div.jobstats .statvalue {
    white-space: nowrap;
}

div.jobstats  span.when {
    color: blue;
}

div.jobstats  span.username {
    font-weight: bold;
}

.note.info.none a {
    color: #999;
}

.receiver {
    padding: 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/** badges for update info */


span.badge.active {
    cursor: pointer;
}

span.badgeholder {
    /*font-size:9pt;*/
    padding: 0;
    padding-left: 9px;

}

/** project chooser listing */

table.projectselect {
    margin: 10px 0;
}

table.projectselect td {
    font-size: 140%;
    padding: 5px;
}

/** now running content */
#nowrunning {
    max-height: 150px;
    overflow-y: auto;
    margin: 0;
}

/** api tokens **/
span.apitoken {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    font-family: Courier, monospace;
    color: black;
}

span.apitoken.empty {

    border: none;
    background: none;
    font-family: Courier, monospace;
    color: #bbb;
}

/** plugin configuration styles */
.configvalue {
    color: #080;
}

.configpair {
    padding: 2px;
    background-color: #eee;
    border-radius: 3px;
    margin-right: 2px;
}

.embed .node_entry.glow {
    background: #cfc;
}
