  /*
  *= require_self
  *= require rundeck1
  */
  @import "bootswatch";

  body {
    //   padding-bottom: ((32px + @navbar-margin-bottom));
  }

  /* brand navbar */
  .navbar-default
  .navbar-brand{
    font-family: 'Futura';
    text-transform: uppercase;
    background-color: #000000;
    &:hover, &:focus{
      color: red;
      background-color: #000000;
    }
    img{
      vertical-align: baseline;
    }
  }
    /* Reset the container */
  .container {
    max-width: none !important;
    /*width: 970px;*/
  }
  .footer {
    margin-top: @navbar-margin-bottom;
    font-size: @font-size-small;
    color: @gray-light;
    position: relative;
    clear: both;
    padding: 10px 20px;
  }

  /* use glyphicon folder icons */
  .expandComponentHolder  > div > span.expandComponentControl.jobgroupexpand span.foldertoggle{
      .glyphicon();
      .glyphicon-folder-close();
  }
  .expandComponentHolder.expanded  > div > span.expandComponentControl.jobgroupexpand span.foldertoggle{
      .glyphicon();
      .glyphicon-folder-open();
  }
  /* use glyphicon for remote option url loading status indicator */
  .remote .remotestatus{
    .glyphicon();
    &.ok{
      color: @brand-success;
      .glyphicon-ok-sign();
    }
    &.error{
      color: @brand-warning;
      .glyphicon-warning-sign();
    }
  }

  .remote .remoteoptionfield:hover{
    background-color: lighten(@brand-info,30%);
    .remotestatus {
      .glyphicon();
      color: @gray;
      .glyphicon-refresh();
    }
  }

  /**
  embed a pager in a column
  */
  .pager{
    &.pager-embed{
      margin-top: 0;
      margin-bottom: 0;
    }
    &.pager-right{
      text-align: right;
    }
    &.pager-left{
      text-align: right;
    }
  }


  // Text button
.textbtn {

  &:hover,
  &:focus,
  &:active,
  &.active,
  {
    cursor: pointer;
    text-decoration: underline;
  }
}
.textbtn-variant( @color ; @background-color ; @background-higlight) {
    color: @color ;
    background-color: @background-color ;

  &:hover,
  &:focus,
  &:active,
  &.active,
   {
    color: darken(@color, 8%);
    background-color: @background-higlight;
    cursor: pointer;
    text-decoration: underline;
  }

  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: lighten(@color, 8%);
    }
  }

  &.query.textbtn {
    border: 1px solid darken(@color, 12%);
    display: inline-block;
    margin: 5px 5px 5px 0;
  }

}
.textbtn-default {
  .textbtn-variant(lighten(@brand-primary, 30%),clear,lighten(@brand-primary, 70%));
}

.textbtn-primary {
  .textbtn-variant(@brand-primary,clear,lighten(@brand-primary, 50%));
}
// Warning appears as orange
.textbtn-warning {
  .textbtn-variant(@brand-warning,clear,lighten(@brand-warning, 50%));
}
// Danger and error appear as red
.textbtn-danger {
  .textbtn-variant(@brand-danger,clear,lighten(@brand-danger, 50%));
}
// Success appears as green
.textbtn-success {
  .textbtn-variant(@brand-success,clear,lighten(@brand-success, 50%));
}
// Info appears as blue-green
.textbtn-info {
  .textbtn-variant(@brand-info,clear,lighten(@brand-info, 50%));
}

.progress.rd-progress-exec {
  height: @line-height-computed;
}
.runstatus .progress{
  margin-bottom: 0;
}
.progress.indefinite{
  .progress-bar{
    width:100% !important;
  }
}
.row{
  &.row-space {
    margin-top: @padding-base-vertical;
  }
  &.row-space-sm {
    margin-top: @padding-small-vertical;
  }
  &.row-space-lg {
    margin-top: @padding-large-vertical;
  }
}


// clock icon in scheduled job view is gray if job will not fire
.scheduletime{
  .glyphicon{
    color:@brand-success;
  }
  &.willnotrun .glyphicon, &.willnotrun .detail{
    color:@brand-warning;
  }
}

//tags for nodes

  span.tag, a.tag {
  }

  span.tag.tagselected, a.tag.tagselected {
    color: @label-color;
    border: 1px solid @brand-primary;
    background: @label-primary-bg;
  }

  //content with padding like nav-tabs links
  ul.nav.nav-tabs > li{
    .tabs-sibling {
      float: left;
      position: relative;
      display: block;
      border: 1px solid transparent;
      margin-right: 2px;
      padding: 10px 15px;
      label{
        margin-bottom: 0;
      }
    }
  }

  //execution status text

  .exec-status{
    &.fail {
      color: @brand-danger;

      &.icon {
        .glyphicon();
        .glyphicon-warning-sign();
      }
    }

    &.running {
      color: @brand-info;

      &.icon {
        .glyphicon();
        .glyphicon-play-circle();
      }
    }

    &.succeed {
      color: @brand-success;

      &.icon {
        .glyphicon();
        .glyphicon-ok-circle();
      }
    }
    &.warn {
      color: @brand-warning;

      &.icon {
        .glyphicon();
        .glyphicon-minus-sign();
      }
    }
  }

  .tab-content .panel.panel-tab-content{
    border-top: 0;
    .border-top-radius(0);
  }
