.alert {
  border: 0;
  border-radius: $border-radius-extreme;
  color: var(--black);
  padding: 10px 15px;
  font-size: 14px;
  z-index: 1000;

  .container & {
    border-radius: 4px;

  }
  .navbar & {
    border-radius: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 85px;
    width: 100%;
    z-index: 3;
  }
  .navbar:not(.navbar-transparent) & {
    top: 70px;
  }

  span[data-notify="icon"] {
    font-size: 30px;
    display: block;
    left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
  }

  .close ~ span {
    display: block;
    max-width: 89%;
  }

  &[data-notify="container"] {
    padding: 10px 10px 10px 20px;
    border-radius: $border-radius-base;
  }

  &.alert-with-icon {
    padding-left: 65px;
  }
}

.alert {
  background-color: var(--background-color-accent-lvl2);
  color: var(--black);
}

.alert-primary {
  background-color: var(--primary-bg-color);
}

.alert-info {
  background-color: var(--info-bg-color);
}

.alert-success {
  background-color: var(--success-bg-color);
}

.alert-warning {
  background-color: var(--warning-bg-color);
  border: 1px solid var(--warning-border-color);
}

.alert-danger {
  background-color: var(--danger-bg-color);
  border: 2px solid var(--danger-color);
}

