/*           Labels & Progress-bar              */
.label{
   @include label-style();
}
.label-icon{
    padding: 0.4em 0.55em;
    i{
       font-size: 0.8em;
       line-height: 1;
    }
}
.label-default{
    background-color: var(--font-color);
}
.label-primary{
    background-color: var(--primary-color);
}
.label-info{
    background-color: var(--info-color);
}
.label-success{
    background-color: var(--success-color);
}
.label-warning{
    background-color: var(--warning-color);
}
.label-danger{
    background-color: var(--danger-color);
}
