.splash-screen{
    padding:25px; 
    background-color: #F9F9F9;
    &--title{
        font-weight: 700;
        font-weight: 700;
        font-size: 2.2rem;
    }
    &--linkitems{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 20px 0;
        .item{
            border: 1px solid #B4B4B4;
            box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.11);
            border-radius: 4px;
            padding: 35px;
            margin-right: 14px;
            font-weight: 700;
            font-size: 1.7rem;
        }
    }
}
.stickers-section{
    padding:0 24px;
    text-align: center;
    .l1{
        font-size: 26px;
        font-weight: 600;
    }
    .l2{
        font-size: 41px;
        font-weight: 800;
    }
    .l3{
        font-size: 32px;
    }
}

.rd-icon {
    display: inline-block;
    background-repeat: no-repeat;
    height: 25px;
    width: 30px;
    vertical-align: text-top;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='59' height='60' viewBox='0 0 59 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M47.8869 12.5094L40.4776 0.747314H0.767578L8.17692 12.5064L47.8869 12.5094ZM0.76992 59.5428H40.4799L47.8893 47.7838H8.17926L0.76992 59.5428ZM15.5869 24.2659H55.2969L59.0001 30.147L55.2969 36.028H15.5869L19.2901 30.147L15.5869 24.2659Z' fill='%23F73F39'/%3E%3C/svg%3E%0A");
}