$grey-100:                   #FAFAFA;
$grey-200:                   #F4F4F5;
$grey-300:                   #E4E4E7;
$grey-400:                   #D4D4D8;
$grey-500:                   #A1A1AA;
$grey-600:                   #71717A;
$grey-700:                   #52525B;
$grey-800:                   #27272A;
$grey-900:                   #18181B;

$blue-100:                   #BFDBFE;
$blue-200:                   #93C5FD;
$blue-300:                   #60A5FA;
$blue-500:                   #134ECD;
$blue-700:                   #1E40AF;

$green-100:                  #BBF7D0;
$green-200:                  #86EFAC;
$green-300:                  #4ADE80;
$green-500:                  #16A34A;
$green-700:                  #0F612D;

$red-100:                    #FECACA;
$red-200:                    #FCA5A5;
$red-300:                    #F87171;
$red-500:                    #DC2626;
$red-700:                    #991B1B;

$orange-100:                 #FED7AA;
$orange-200:                 #FDBA74;
$orange-300:                 #FB923C;
$orange-500:                 #F97316;
$orange-700:                 #C2410C;

$yellow-100:                 #FEF9C3;
$yellow-200:                 #FEF08A;
$yellow-300:                 #FDE047;
$yellow-500:                 #FACC15;
$yellow-700:                 #A16207;

$teal-100:                   #CCFBF1;
$teal-200:                   #99F6E4;
$teal-300:                   #5EEAD4;
$teal-500:                   #17CFB9;
$teal-700:                   #0F766E;

$cyan-100:                   #CFFAFE;
$cyan-200:                   #A5F3FC;
$cyan-300:                   #22D3EE;
$cyan-500:                   #06B6D4;
$cyan-700:                   #0E7490;

$pink-100:                   #FCE7F3;
$pink-200:                   #FBCFE8;
$pink-300:                   #F9A8D4;
$pink-500:                   #F472B6;
$pink-700:                   #BE185D;

$purple-100:                 #E9D5FF;
$purple-200:                 #D8B4FE;
$purple-300:                 #C084FC;
$purple-500:                 #7B17D9;
$purple-700:                 #6B21A8;

$indigo-100:                 #C7D2FE;
$indigo-200:                 #A5B4FC;
$indigo-300:                 #818CF8;
$indigo-500:                 #433BE3;
$indigo-700:                 #3730A3;

$white:                      #FFFFFF;
$black:                      $grey-900;



$white-background-color: $white !default;
$black-background-color: $black !default;
$darkblue-background-color: #35495E !default; // this is the dark blue color from Vue.js branding
$default-background-color: $grey-200;

$font-color:                 $grey-700 !default;
$fill-font-color:            rgba($white, 0.85);

$none:                       0   !default;
$border-thin:                1px !default;
$border-thick:               2px !default;

$white-color:                $white !default;
$white-bg:                   $white !default;

$smoke-bg:                   $grey-100 !default;
$pale-bg:                    $grey-200 !default;
$medium-pale-bg:             $grey-300 !default;

$table-line-color:           $grey-300 !default;
$muted-color:                $grey-500 !default;

$black-bg:                   rgba($black,.97) !default;

$popover-color:              $grey-100 !default;



$black-color:                $black !default;
$black-hr:                   $grey-700 !default;

$brown-background-color:        $font-color !default;

$very-light-gray:            $grey-100 !default;
$light-gray:                 $grey-300 !default;
$medium-gray:                $grey-500 !default;
$dark-gray:                  $grey-800 !default;

$gray-input-bg:              $grey-200 !default;
$gray-input-outline:         $grey-300 !default;
$light-input-bg:             $grey-100 !default;
$danger-input-bg:            $red-100 !default;
$success-input-bg:           $green-100 !default;

$other-medium-gray:          $grey-500 !default;
$transparent-bg:             transparent !default;

$default-color:              $grey-700 !default;
$default-states-color:       $grey-600 !default;

$primary-color:              $grey-800 !default;
$primary-states-color:       darken($primary-color,11%) !default;
$primary-highlight-color:    lighten($primary-color, 11%) !default;

$success-color:              $green-500 !default;
$success-states-color:       $green-500 !default;

$info-color:                 $blue-500 !default;
$info-states-color:          $blue-500 !default;

$warning-color:              $yellow-500 !default;
$warning-states-color:       $yellow-700 !default;

$danger-color:               $red-500 !default;
$danger-states-color:         $red-500 !default;

$link-disabled-color:        $grey-600 !default;

// General Colors

$color-azure:                $cyan-500;
$color-purple:               $purple-500;
$color-red:                  $red-500;
$color-green:                $green-500;
$color-orange:               $orange-300;
$color-blue:                 $blue-500;
$color-black:                $grey-800;


/*      light colors - used for select dropdown         */

$light-blue:                 rgba($primary-color, .2);
$light-azure:                rgba($info-color, .2);
$light-green:                rgba($success-color, .2);
$light-orange:               rgba($warning-color, .2);
$light-red:                  rgba($danger-color, .2);

$placeholder-gray:           $grey-400 !default;


/*           Social buttons            */

$social-facebook: 			#3b5998;
$social-twitter: 			#55acee;
$social-pinterest: 			#cc2127;
$social-google: 			#dd4b39;
$social-linkedin: 			#0976b4;
$social-dribbble: 			#ea4c89;
$social-github: 			#333333;
$social-youtube: 			#e52d27;
$social-instagram: 		    #125688;
$social-reddit: 			#ff4500;
$social-tumblr: 			#35465c;
$social-stumbleupon: 		#eb4924;
$social-behance: 			#1769ff;


//== Components
//

$padding-default-vertical:     10px !default;
$padding-default-horizontal:   20px !default;

$padding-base-vertical:         6px !default;
$padding-base-horizontal:       12px !default;

$padding-round-vertical:        9px !default;
$padding-round-horizontal:     18px !default;

$padding-simple-vertical:      10px !default;
$padding-simple-horizontal:    18px !default;

$padding-large-vertical:       11px !default;
$padding-large-horizontal:     30px !default;

$padding-small-vertical:        4px !default;
$padding-small-horizontal:     10px !default;

$padding-xs-vertical:           2px !default;
$padding-xs-horizontal:         5px !default;

$padding-label-vertical:        2px !default;
$padding-label-horizontal:     12px !default;

$margin-base:                  15px !default;

// padding for links inside dropdown menu
$padding-dropdown-vertical:     10px !default;
$padding-dropdown-horizontal:   15px !default;

$margin-large-vertical:        30px !default;
$margin-base-vertical:         15px !default;


// Cristina: am schimbat aici si s-au modificat inputurile
$margin-bottom:                0 0 10px 0 !default;
$border-radius-small:           3px !default;
$border-radius-base:            4px !default;
$border-radius-large:           6px !default;
$border-radius-extreme:        6px !default;

$border-radius-large-top:      $border-radius-large $border-radius-large 0 0 !default;
$border-radius-large-bottom:   0 0 $border-radius-large $border-radius-large !default;

$btn-round-radius:             30px !default;

$height-base:                  40px !default;

$font-size-base:               14px !default;
$font-size-xs:                 12px !default;
$font-size-small:              12px !default;
$font-size-medium:             16px !default;
$font-size-large:              18px !default;
$font-size-large-navbar:       20px !default;

$font-size-h1:                 3.2em   !default;
$font-size-h2:                 2.6em     !default;
$font-size-h3:                 1.825em !default;
$font-size-h4:                 1.5em   !default;
$font-size-h5:                 1.25em  !default;
$font-size-h6:                 0.9em   !default;
$font-paragraph:               14px    !default;
$font-size-navbar:             16px    !default;
$font-size-small:              12px    !default;

$font-weight-light:          300 !default;
$font-weight-normal:         400 !default;
$font-weight-semi:           500 !default;
$font-weight-bold:           700 !default;

$line-height-small:            20px !default;
$line-height-general:          1.4em !default;
$line-height:                 36px !default;
$line-height-lg:              54px !default;


$border-radius-top:        10px 10px 0 0 !default;
$border-radius-bottom:     0 0 10px 10px !default;

$dropdown-shadow:          0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.2);

$general-transition-time:  300ms !default;

$slow-transition-time:           300ms !default;
$dropdown-coordinates:      29px -50px !default;

$fast-transition-time:           150ms !default;
$select-coordinates:         50% -40px !default;

$transition-linear:                                   linear !default;
$transition-bezier:         cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease:           ease 0s;

$navbar-padding-a:               10px 15px;
$navbar-margin-a:                16px  0px;

$padding-social-a:               10px  5px;

$navbar-margin-a-btn:            17px 3px;

$navbar-padding-brand:           15px 15px;
$navbar-margin-brand:             12px  0px;

$navbar-margin-brand-icons:      12px auto;

$navbar-margin-btn:              20px  3px;
$navbar-margin-btn-vertical:     20px;

$height-icon:					 64px !default;
$width-icon:					 64px !default;
$padding-icon:					 12px !default;
$border-radius-icon:		     15px !default;


$white-navbar:              rgba($white, .96);
$blue-navbar:               rgba($cyan-500, .98);

$azure-navbar:              rgba($cyan-300, .98);
$green-navbar:              rgba($green-300, .98);
$orange-navbar:             rgba($orange-300, .98);
$red-navbar:                rgba($red-300, .98);

$bg-mainpanel:          $grey-200 !default;
$bg-mainheader:         $white !default;
$bg-subheader:          $grey-100 !default;

$bg-default:            $grey-700 !default;
$bg-default-inverse:    $grey-300 !default;

$bg-primary:            $grey-500 !default;
$bg-info:               $cyan-100 !default;
$bg-success:            $green-100 !default;
$bg-warning:            $orange-100 !default;
$border-warning:        $orange-300 !default;
$bg-danger:             $red-100 !default;
$border-danger:         $red-300 !default;

$background-light-grey:     $grey-300 !default;
$background-lighter-grey:   $grey-200 !default;
$font-background-light-grey: $grey-500 !default;
$font-hover-background-light-grey: $grey-600 !default;


$topbar-x:             topbar-x !default;
$topbar-back:          topbar-back !default;
$bottombar-x:          bottombar-x !default;
$bottombar-back:       bottombar-back !default;

$transition-linear:                                   linear !default;
$transition-bezier:         cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease:           ease 0s;
$transition-ease-in:              ease-in !default;
$transition-ease-out:             ease-out !default;

$general-transition-time:  300ms !default;

$slow-transition-time:           370ms !default;
$dropdown-coordinates:      29px -50px !default;

$fast-transition-time:           150ms !default;

$ultra-fast-transition-time:     100ms  !default;

$select-coordinates:         50% -40px !default;

$padding-zero:                   0px !default;

$sidebar-width:               calc(100% - 260px) !default;
$sidebar-mini-width:          calc(100% - 80px) !default;

$medium-dark-gray:           $grey-500 !default;


// border radius for buttons
$border-radius-btn-small:      26px !default;
$border-radius-btn-base:       20px !default;
$border-radius-btn-large:      50px !default;
$border-radius-none:            0px !default;
$border-radius-none-top:      $border-radius-none $border-radius-none 0 0 !default;
$border-radius-small-top:     $border-radius-small $border-radius-small 0 0 !default;


//variables used in cards
$card-black-color:          $black !default;
$card-black-color:          $black !default;
$card-muted-color:          $grey-400 !default;

$card-background-blue:      $teal-100 !default;
$card-font-blue:            $teal-700 !default;
$card-subtitle-blue:        $teal-500 !default;

$card-background-green:      $green-100 !default;
$card-font-green:            $green-700 !default;
$card-subtitle-green:        $green-500 !default;

$card-background-yellow:      $yellow-200 !default;
$card-font-yellow:            $yellow-700 !default;
$card-subtitle-yellow:        $yellow-500 !default;

$card-background-brown:      #d6c1ab !default;
$card-font-brown:            #75442e !default;
$card-subtitle-brown:        #a47e65 !default;

$card-background-purple:      $purple-200 !default;
$card-font-purple:            $purple-700 !default;
$card-subtitle-purple:        $purple-300 !default;

$card-background-orange:      $orange-200 !default;
$card-font-orange:            $orange-700 !default;
$card-subtitle-orange:        $orange-500 !default;



//variables used for sidebar
$sidebar-background-dark-blue: $teal-700;

$sidebar-background-blue:      $teal-100 !default;
$sidebar-font-blue:            $teal-700 !default;
$sidebar-subtitle-blue:        $teal-500 !default;

$sidebar-background-green:      $green-100 !default;
$sidebar-font-green:            $green-700 !default;
$sidebar-subtitle-green:        $green-300 !default;

$sidebar-background-yellow:      $yellow-100 !default;
$sidebar-font-yellow:            $yellow-700 !default;
$sidebar-subtitle-yellow:        $yellow-500 !default;

$sidebar-background-brown:      #d6c1ab !default;
$sidebar-font-brown:            #75442e !default;
$sidebar-subtitle-brown:        #a47e65 !default;

$sidebar-background-purple:      $purple-100 !default;
$sidebar-font-purple:            $purple-700 !default;
$sidebar-subtitle-purple:        $purple-300 !default;


$sidebar-background-orange:      $orange-100 !default;
$sidebar-font-orange:            $orange-700 !default;
$sidebar-subtitle-orange:        $orange-300 !default;


// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                      768px !default;
$screen-sm-min:                  $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:                  $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

$filter-blue:         darken($primary-color, 10%);
$filter-azure:        darken($info-color, 10%);
$filter-green:        darken($success-color, 10%);
$filter-orange:       darken($warning-color, 10%);
$filter-red:          darken($danger-color, 10%);

// variable used in footers
$black-footer-bg:            $black !default;

$brown-font-color:    $grey-200 !default;
$brown-font-color-hover: $grey-400 !default;



// variables for Bootstrap Select 1.12.1
$color-red-error: $red-300 !default;
$color-grey-arrow: rgba($grey-700, 0.2) !default;


$width-default: 100% !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: $grey-500 !default;

$legend-color:                   $grey-500 !default;
$legend-border-color:            $grey-300 !default;

$dropdown-link-hover-bg:         $grey-300 !default;