.view {
    height: 100vh;
    width: 100vw;

    overflow: hidden;

    display: grid;
    grid-template-areas:
        "header"
        "main"
        "utility";

    grid-template-rows: min-content 1fr 22px;
    grid-template-columns: 1fr;
}

.view > section {
    overflow: hidden;
}

#section-header {
    position: relative;
    overflow: visible;
}

#section-navbar {
    overflow: hidden;
    background-color: $black-background-color;
}

#section-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#section-main {
    display: grid;
    grid-template-areas: "content";
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    overflow: hidden;
    position: relative;

    &.with-project {
        grid-template-areas: "nav content";
        grid-auto-columns: 65px 1fr;
    }
}

#section-utility {
    position: relative;
    box-shadow: 0px -1px 0px #DADADA;
}

#loginpage {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}