<plugin name='webrealms' version='0.3' grailsVersion='1.3.7 &gt; *'>
  <author>Greg Schueler</author>
  <authorEmail>greg@dtosolutions.com</authorEmail>
  <title>Allows configuration of web.xml to support UserRealms and security constraints</title>
  <description>Simply generates definitions in web.xml to define login configuration with particular realm, and security constraints.
</description>
  <documentation>http://grails.org/Webrealms+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>DefaultWebrealmsConfig</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>