description: Allow groups to list projects
context:
  application: 'rundeck'
for:
  project:
  - allow: read
    match:
      name: '.*'
by:
  group: [job_runner, job_reader, job_writer, project_admin]