# node.properties
#
node.description=
node.type=Node
node.name=@framework.server.name@
node.hostname=@framework.server.hostname@
node.os-arch=@os.arch@
node.os-family=@os.family@
node.os-name=@os.name@
node.os-version=@os.version@
