ul[data-testid='draggable-container']{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    position: relative;
    counter-reset: list;

  li:before {
    counter-increment: list;
    content: counter(list)'.';
    display: block;
    left: -18px;
    position: absolute;
    top: 1rem;
  }
}

.item-container {
  position: relative;
}

i.glyphicon-menu-hamburger {
  position: absolute;
  left: -40px;
  top: 17px;
}

.link-button,
.link-title,
.link-step-plugin {
  all: unset;
  color: #0052CC;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
}

.link-title {
  font-size: 16px;
}

.link-step-plugin {
  //color:#003F9C;
  font-size: 14px;
}

.p-menu-item {
  color: var(--colors-menuitem-color);
  background: transparent;

  &-link {
    color: inherit !important;
  }
}

div[data-test='options_undo_redo'] {
  align-self: flex-end;
}

.ready {
  align-self: center;
}