.p-badge {
  background: var(--colors-blue-500);
  color: var(--colors-white);
  align-content: center;

  &.p-component {
    font-size: 10px !important;
  }

  &.p-badge-success {
    background: var(--colors-green-500);
  }
  &.p-badge-warn {
    background: var(--colors-orange-500);
  }
  &.p-badge-danger {
    background: var(--colors-red-500);
  }
  &.p-badge-secondary {
    background: var(--colors-gray-600);
  }
}