on:
  pull_request_target:
    types: [opened, synchronize, reopened, milestoned, demilestoned, edited]
    branches:
    - main

#check the milestones on the pr, and fail validation if no milestone is set, and the branch target is main
jobs:
  prcheck:
    permissions: 
      pull-requests: read
    name: PR Hygiene Check
    runs-on: ubuntu-latest
      
    steps:
      - name: PR requires a milestone
        if: github.event.action != 'edited'
        run: |
          MILESTONE=$(gh pr view $PR --json milestone -q .milestone)
          if [ $? != 0 ] ; then
            echo "Failed"
            exit 1
          fi
          if [ -z "$MILESTONE" ] ; then
            echo "::notice::Milestone is required"
            exit 2
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR: ${{ github.event.pull_request.html_url }}
      
