# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '29 11 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v5
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-pr-message: |
          This pull request has been marked as stale because it has not had
          any activity in 7 days. It will be closed in another 7 days if no
          further activity occurs.

          You can also mark it as non-stale by removing the "Stale" label.
        # don't forget to update the PR message if you change these values:
        days-before-stale: 14
        days-before-close: 14
